Repository department-of-veterans-affairs/content-build, changes with the owners that .github/CODEOWNERS names for each.
All owners: @department-of-veterans-affairs/frontend-review-group, @department-of-veterans-affairs/vsp-testing, @department-of-veterans-affairs/vsa-public-websites-frontend, @department-of-veterans-affairs/vsa-facilities-frontend, @department-of-veterans-affairs/vsa-caregiver-frontend

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
#  @department-of-veterans-affairs/frontend-review-group will be requested for
# review when someone opens a pull request.
#
# Review the CODEOWNERS guide before editing:
# https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/engineering/codeowners.md

# VSP
*       @department-of-veterans-affairs/frontend-review-group

# Testing
src/platform/testing/e2e/ @department-of-veterans-affairs/vsp-testing
config/cypress.json @department-of-veterans-affairs/vsp-testing

# Shared templates
src/site/includes @department-of-veterans-affairs/vsa-public-websites-frontend @department-of-veterans-affairs/vsa-facilities-frontend @department-of-veterans-affairs/vsa-caregiver-frontend
src/site/components @department-of-veterans-affairs/vsa-public-websites-frontend @department-of-veterans-affairs/vsa-facilities-frontend @department-of-veterans-affairs/vsa-caregiver-frontend
src/site/layouts @department-of-veterans-affairs/vsa-public-websites-frontend @department-of-veterans-affairs/vsa-facilities-frontend
src/site/teasers @department-of-veterans-affairs/vsa-public-websites-frontend @department-of-veterans-affairs/vsa-facilities-frontend
src/site/filters @department-of-veterans-affairs/vsa-public-websites-frontend @department-of-veterans-affairs/vsa-facilities-frontend

# Facility Locator and VAMC pages
src/site/facilities @department-of-veterans-affairs/vsa-facilities-frontend
src/site/layouts/health*.drupal.liquid @department-of-veterans-affairs/vsa-facilities-frontend
src/site/navigation/facility_no_drupal_page_sidebar_nav.drupal.liquid @department-of-veterans-affairs/vsa-facilities-frontend
src/site/navigation/facility_sidebar_nav.drupal.liquid @department-of-veterans-affairs/vsa-facilities-frontend
src/site/paragraphs/facilities @department-of-veterans-affairs/vsa-facilities-frontend

# GraphQL Queries
src/site/stages/build/drupal @department-of-veterans-affairs/vsa-public-websites-frontend @department-of-veterans-affairs/vsa-facilities-frontend

Bump webpack-cli and update header element with class header
  package.json
  src/site/includes/header.html
  yarn.lock
Owners: @department-of-veterans-affairs/frontend-review-group, @department-of-veterans-affairs/vsa-public-websites-frontend, @department-of-veterans-affairs/vsa-facilities-frontend, @department-of-veterans-affairs/vsa-caregiver-frontend

Add role="banner"
  src/site/includes/header.html
Owners: @department-of-veterans-affairs/vsa-public-websites-frontend, @department-of-veterans-affairs/vsa-facilities-frontend, @department-of-veterans-affairs/vsa-caregiver-frontend

Remove unrelated expect for health_care_region_page template test
  src/site/layouts/tests/vamc/template/health_care_region_page.unit.spec.js
Owners: @department-of-veterans-affairs/vsa-public-websites-frontend, @department-of-veterans-affairs/vsa-facilities-frontend

Fix flow for content-release
  .github/workflows/content-release.yml
Owners: @department-of-veterans-affairs/frontend-review-group

add push for testing
  .github/workflows/content-release.yml
Owners: @department-of-veterans-affairs/frontend-review-group

Fix deploy syntax
  .github/workflows/content-release.yml
Owners: @department-of-veterans-affairs/frontend-review-group

Semantic fixes
  .github/workflows/content-release.yml
Owners: @department-of-veterans-affairs/frontend-review-group

cleanup
  .github/workflows/content-release.yml
Owners: @department-of-veterans-affairs/frontend-review-group

Update yarn.lock file
  yarn.lock
Owners: @department-of-veterans-affairs/frontend-review-group

cleanup
  .github/workflows/content-release.yml
Owners: @department-of-veterans-affairs/frontend-review-group

cleanup
  .github/workflows/content-release.yml
Owners: @department-of-veterans-affairs/frontend-review-group

Skip some e2e tests
  src/platform/site-wide/tests/accessible-modal.cypress.spec.js
  src/site/layouts/tests/vamc/e2e/events.cypress.spec.js
  src/site/layouts/tests/vamc/e2e/location_detail.cypress.spec.js
  src/site/layouts/tests/vamc/e2e/location_home.cypress.spec.js
  src/site/layouts/tests/vamc/e2e/system_home.cypress.spec.js
  src/site/layouts/tests/vet_center/e2e/locations.cypress.spec.js
Owners: @department-of-veterans-affairs/frontend-review-group, @department-of-veterans-affairs/vsa-public-websites-frontend, @department-of-veterans-affairs/vsa-facilities-frontend

Github Actions (CR) -- Refactor flow (#695)
  .github/workflows/content-release.yml
Owners: @department-of-veterans-affairs/frontend-review-group

Add comment
  src/platform/site-wide/tests/accessible-modal.cypress.spec.js
Owners: @department-of-veterans-affairs/frontend-review-group

Add role="banner"
  src/site/includes/header.html
Owners: @department-of-veterans-affairs/vsa-public-websites-frontend, @department-of-veterans-affairs/vsa-facilities-frontend, @department-of-veterans-affairs/vsa-caregiver-frontend

Remove role="banner"
  src/site/includes/header.html
Owners: @department-of-veterans-affairs/vsa-public-websites-frontend, @department-of-veterans-affairs/vsa-facilities-frontend, @department-of-veterans-affairs/vsa-caregiver-frontend

Bump webpack-cli and update header element with class header
  package.json
  src/site/includes/header.html
  yarn.lock
Owners: @department-of-veterans-affairs/frontend-review-group, @department-of-veterans-affairs/vsa-public-websites-frontend, @department-of-veterans-affairs/vsa-facilities-frontend, @department-of-veterans-affairs/vsa-caregiver-frontend

Utilize new header react widget
  src/site/includes/header.html
  src/site/includes/top-nav.html
  src/site/includes/usa-website-header.html
Owners: @department-of-veterans-affairs/vsa-public-websites-frontend, @department-of-veterans-affairs/vsa-facilities-frontend, @department-of-veterans-affairs/vsa-caregiver-frontend

Remove unrelated expect for health_care_region_page template test
  src/site/layouts/tests/vamc/template/health_care_region_page.unit.spec.js
Owners: @department-of-veterans-affairs/vsa-public-websites-frontend, @department-of-veterans-affairs/vsa-facilities-frontend

Skip some e2e tests
  src/platform/site-wide/tests/accessible-modal.cypress.spec.js
  src/site/layouts/tests/vamc/e2e/events.cypress.spec.js
  src/site/layouts/tests/vamc/e2e/location_detail.cypress.spec.js
  src/site/layouts/tests/vamc/e2e/location_home.cypress.spec.js
  src/site/layouts/tests/vamc/e2e/system_home.cypress.spec.js
  src/site/layouts/tests/vet_center/e2e/locations.cypress.spec.js
Owners: @department-of-veterans-affairs/frontend-review-group, @department-of-veterans-affairs/vsa-public-websites-frontend, @department-of-veterans-affairs/vsa-facilities-frontend

Revert "Skip some e2e tests"
  src/platform/site-wide/tests/accessible-modal.cypress.spec.js
  src/site/layouts/tests/vamc/e2e/events.cypress.spec.js
  src/site/layouts/tests/vamc/e2e/location_detail.cypress.spec.js
  src/site/layouts/tests/vamc/e2e/location_home.cypress.spec.js
  src/site/layouts/tests/vamc/e2e/system_home.cypress.spec.js
  src/site/layouts/tests/vet_center/e2e/locations.cypress.spec.js
Owners: @department-of-veterans-affairs/frontend-review-group, @department-of-veterans-affairs/vsa-public-websites-frontend, @department-of-veterans-affairs/vsa-facilities-frontend

Revert "Remove unrelated expect for health_care_region_page template test"
  src/site/layouts/tests/vamc/template/health_care_region_page.unit.spec.js
Owners: @department-of-veterans-affairs/vsa-public-websites-frontend, @department-of-veterans-affairs/vsa-facilities-frontend

Revert "Utilize new header react widget"
  src/site/includes/header.html
  src/site/includes/top-nav.html
  src/site/includes/usa-website-header.html
Owners: @department-of-veterans-affairs/vsa-public-websites-frontend, @department-of-veterans-affairs/vsa-facilities-frontend, @department-of-veterans-affairs/vsa-caregiver-frontend

Revert "Remove role="banner""
  src/site/includes/header.html
Owners: @department-of-veterans-affairs/vsa-public-websites-frontend, @department-of-veterans-affairs/vsa-facilities-frontend, @department-of-veterans-affairs/vsa-caregiver-frontend

Revert "Add role="banner""
  src/site/includes/header.html
Owners: @department-of-veterans-affairs/vsa-public-websites-frontend, @department-of-veterans-affairs/vsa-facilities-frontend, @department-of-veterans-affairs/vsa-caregiver-frontend

Revert "Bump webpack-cli and update header element with class header"
  package.json
  src/site/includes/header.html
  yarn.lock
Owners: @department-of-veterans-affairs/frontend-review-group, @department-of-veterans-affairs/vsa-public-websites-frontend, @department-of-veterans-affairs/vsa-facilities-frontend, @department-of-veterans-affairs/vsa-caregiver-frontend

Revert "Remove role="banner""
  src/site/includes/header.html
Owners: @department-of-veterans-affairs/vsa-public-websites-frontend, @department-of-veterans-affairs/vsa-facilities-frontend, @department-of-veterans-affairs/vsa-caregiver-frontend

Revert "Bump webpack-cli and update header element with class header"
  package.json
  src/site/includes/header.html
  yarn.lock
Owners: @department-of-veterans-affairs/frontend-review-group, @department-of-veterans-affairs/vsa-public-websites-frontend, @department-of-veterans-affairs/vsa-facilities-frontend, @department-of-veterans-affairs/vsa-caregiver-frontend

Revert "Add role="banner""
  src/site/includes/header.html
Owners: @department-of-veterans-affairs/vsa-public-websites-frontend, @department-of-veterans-affairs/vsa-facilities-frontend, @department-of-veterans-affairs/vsa-caregiver-frontend

Revert "Remove unrelated expect for health_care_region_page template test"
  src/site/layouts/tests/vamc/template/health_care_region_page.unit.spec.js
Owners: @department-of-veterans-affairs/vsa-public-websites-frontend, @department-of-veterans-affairs/vsa-facilities-frontend

Revert "Utilize new header react widget"
  src/site/includes/header.html
  src/site/includes/top-nav.html
  src/site/includes/usa-website-header.html
Owners: @department-of-veterans-affairs/vsa-public-websites-frontend, @department-of-veterans-affairs/vsa-facilities-frontend, @department-of-veterans-affairs/vsa-caregiver-frontend

Revert "Skip some e2e tests"
  src/platform/site-wide/tests/accessible-modal.cypress.spec.js
  src/site/layouts/tests/vamc/e2e/events.cypress.spec.js
  src/site/layouts/tests/vamc/e2e/location_detail.cypress.spec.js
  src/site/layouts/tests/vamc/e2e/location_home.cypress.spec.js
  src/site/layouts/tests/vamc/e2e/system_home.cypress.spec.js
  src/site/layouts/tests/vet_center/e2e/locations.cypress.spec.js
Owners: @department-of-veterans-affairs/frontend-review-group, @department-of-veterans-affairs/vsa-public-websites-frontend, @department-of-veterans-affairs/vsa-facilities-frontend

Update yarn.lock file (#696)
  yarn.lock
Owners: @department-of-veterans-affairs/frontend-review-group

Add new header widget
  src/site/includes/header.html
  src/site/includes/top-nav.html
Owners: @department-of-veterans-affairs/vsa-public-websites-frontend, @department-of-veterans-affairs/vsa-facilities-frontend, @department-of-veterans-affairs/vsa-caregiver-frontend

Remove selenium-chrome from docker-compose.yml
  docker-compose.yml
Owners: @department-of-veterans-affairs/frontend-review-group

Remove selenium-chrome from docker-compose.yml (#700)
  docker-compose.yml
Owners: @department-of-veterans-affairs/frontend-review-group

Remove the last vestiges of the automated nearby vet centers feature toggle.
  src/site/layouts/tests/vet_center/e2e/fixtures/data.js
  src/site/layouts/tests/vet_center/e2e/locations.cypress.spec.js
Owners: @department-of-veterans-affairs/vsa-public-websites-frontend, @department-of-veterans-affairs/vsa-facilities-frontend

Add new header widget
  src/site/includes/header.html
  src/site/includes/top-nav.html
Owners: @department-of-veterans-affairs/vsa-public-websites-frontend, @department-of-veterans-affairs/vsa-facilities-frontend, @department-of-veterans-affairs/vsa-caregiver-frontend

Remove the last vestiges of the automated nearby vet centers feature toggle. (#701)
  src/site/layouts/tests/vet_center/e2e/fixtures/data.js
  src/site/layouts/tests/vet_center/e2e/locations.cypress.spec.js
Owners: @department-of-veterans-affairs/vsa-public-websites-frontend, @department-of-veterans-affairs/vsa-facilities-frontend

Fix permission error
  .github/workflows/content-release.yml
Owners: @department-of-veterans-affairs/frontend-review-group
