Repository department-of-veterans-affairs/content-build, changes with the owners that .github/CODEOWNERS names for each.
All owners: @department-of-veterans-affairs/frontend-review-group, @department-of-veterans-affairs/vsp-testing, @department-of-veterans-affairs/vsa-public-websites-frontend, @department-of-veterans-affairs/vsa-facilities-frontend, @department-of-veterans-affairs/vsa-caregiver-frontend

Github Actions (CI) -- fix callback token from param store (#663)
  .github/workflows/continuous-integration.yml
Owners: @department-of-veterans-affairs/frontend-review-group

Cleanup
  .github/workflows/continuous-integration.yml
Owners: @department-of-veterans-affairs/frontend-review-group

Added hyphen to va-lovell-federal-health-care
  src/site/layouts/vamc_system_register_for_care.drupal.liquid
  src/site/stages/build/drupal/graphql/navigation-fragments/facilitySidebar.nav.graphql.js
Owners: @department-of-veterans-affairs/vsa-public-websites-frontend, @department-of-veterans-affairs/vsa-facilities-frontend

Hardened VAMC Register for Care page
  src/site/layouts/vamc_register_for_care_page.drupal.liquid
  src/site/stages/build/drupal/graphql/GetLatestPageById.graphql.js
  src/site/stages/build/drupal/graphql/vamcRegisterForCarePage.graphql.js
  src/site/stages/build/drupal/individual-queries.js
  src/site/stages/build/drupal/metalsmith-drupal.js
Owners: @department-of-veterans-affairs/vsa-public-websites-frontend, @department-of-veterans-affairs/vsa-facilities-frontend

Fix template field name
  src/site/layouts/vamc_system_register_for_care.drupal.liquid
Owners: @department-of-veterans-affairs/vsa-public-websites-frontend, @department-of-veterans-affairs/vsa-facilities-frontend

remove unused fields from template
  src/site/layouts/vamc_register_for_care_page.drupal.liquid
Owners: @department-of-veterans-affairs/vsa-public-websites-frontend, @department-of-veterans-affairs/vsa-facilities-frontend

Cleanup (#664)
  .github/workflows/continuous-integration.yml
Owners: @department-of-veterans-affairs/frontend-review-group

VAVFS-6714: Move bio presence check below name fields.
  src/site/paragraphs/staff_profile.drupal.liquid
Owners: @department-of-veterans-affairs/frontend-review-group

address PR review comments
  src/site/layouts/vamc_system_register_for_care.drupal.liquid
Owners: @department-of-veterans-affairs/vsa-public-websites-frontend, @department-of-veterans-affairs/vsa-facilities-frontend

VAVFS-6714: Move bio presence check below name fields. (#666)
  src/site/paragraphs/staff_profile.drupal.liquid
Owners: @department-of-veterans-affairs/frontend-review-group

minor change
  src/site/filters/liquid.js
Owners: @department-of-veterans-affairs/vsa-public-websites-frontend, @department-of-veterans-affairs/vsa-facilities-frontend

added MenuItem query to facilitySidebar.nav.graphql
  src/site/stages/build/drupal/graphql/navigation-fragments/facilitySidebar.nav.graphql.js
Owners: @department-of-veterans-affairs/vsa-public-websites-frontend, @department-of-veterans-affairs/vsa-facilities-frontend

moved facility filter logic to a filter
  src/site/filters/fixtures/sidebarData.json
  src/site/filters/liquid.js
  src/site/filters/liquid.unit.spec.js
  src/site/navigation/facility_sidebar_nav.drupal.liquid
Owners: @department-of-veterans-affairs/vsa-public-websites-frontend, @department-of-veterans-affairs/vsa-facilities-frontend

cleaned up console logs
  src/site/navigation/facility_sidebar_nav.drupal.liquid
Owners: @department-of-veterans-affairs/vsa-facilities-frontend

filtered side bar nav facilities
  src/site/filters/liquid.js
  src/site/navigation/facility_sidebar_nav.drupal.liquid
Owners: @department-of-veterans-affairs/vsa-public-websites-frontend, @department-of-veterans-affairs/vsa-facilities-frontend

refactored and cleaned up code
  src/site/filters/liquid.js
  src/site/navigation/facility_sidebar_nav.drupal.liquid
Owners: @department-of-veterans-affairs/vsa-public-websites-frontend, @department-of-veterans-affairs/vsa-facilities-frontend

minor change
  src/site/navigation/facility_sidebar_nav.drupal.liquid
Owners: @department-of-veterans-affairs/vsa-facilities-frontend

removed log
  src/site/navigation/facility_sidebar_nav.drupal.liquid
Owners: @department-of-veterans-affairs/vsa-facilities-frontend

added comment to facility filter section
  src/site/navigation/facility_sidebar_nav.drupal.liquid
Owners: @department-of-veterans-affairs/vsa-facilities-frontend

small change
  src/site/navigation/facility_sidebar_nav.drupal.liquid
Owners: @department-of-veterans-affairs/vsa-facilities-frontend

removed disable esling line
  src/site/filters/liquid.js
Owners: @department-of-veterans-affairs/vsa-public-websites-frontend, @department-of-veterans-affairs/vsa-facilities-frontend

Add drupal-cache-content
  .github/workflows/continuous-integration.yml
Owners: @department-of-veterans-affairs/frontend-review-group

Add dependency to on-demand runner before shutdown
  .github/workflows/continuous-integration.yml
Owners: @department-of-veterans-affairs/frontend-review-group

Fix syntax error
  .github/workflows/continuous-integration.yml
Owners: @department-of-veterans-affairs/frontend-review-group

Add start-runner to cache-drupal
  .github/workflows/continuous-integration.yml
Owners: @department-of-veterans-affairs/frontend-review-group

Add cert for on-demand runner
  .github/workflows/continuous-integration.yml
Owners: @department-of-veterans-affairs/frontend-review-group

store drupal cache rather than entire build
  .github/workflows/continuous-integration.yml
Owners: @department-of-veterans-affairs/frontend-review-group

cleanup GHA cache-drupal-content
  .github/workflows/continuous-integration.yml
Owners: @department-of-veterans-affairs/frontend-review-group

Remove cache drupal from Jenkins
  Jenkinsfile
Owners: @department-of-veterans-affairs/frontend-review-group

Fix .cache/content upload path
  .github/workflows/continuous-integration.yml
Owners: @department-of-veterans-affairs/frontend-review-group

Commented out rather than delete
  Jenkinsfile
Owners: @department-of-veterans-affairs/frontend-review-group

Added centralized related links section
  src/site/filters/liquid.js
  src/site/filters/liquid.unit.spec.js
  src/site/layouts/vamc_system_register_for_care.drupal.liquid
  src/site/stages/build/drupal/graphql/vamcRegisterForCarePage.graphql.js
Owners: @department-of-veterans-affairs/vsa-public-websites-frontend, @department-of-veterans-affairs/vsa-facilities-frontend

Add sidenav support
  src/site/layouts/vamc_system_register_for_care.drupal.liquid
  src/site/stages/build/drupal/page.js
Owners: @department-of-veterans-affairs/vsa-public-websites-frontend, @department-of-veterans-affairs/vsa-facilities-frontend

Remove VLC with display none
  src/site/includes/top-nav.html
Owners: @department-of-veterans-affairs/vsa-public-websites-frontend, @department-of-veterans-affairs/vsa-facilities-frontend, @department-of-veterans-affairs/vsa-caregiver-frontend

VAVFS-6724: [Fixed] staff title missing
  src/site/paragraphs/staff_profile.drupal.liquid
Owners: @department-of-veterans-affairs/frontend-review-group

Github Actions (CI) -- Add drupal-cache-content (#669)
  .github/workflows/continuous-integration.yml
  Jenkinsfile
Owners: @department-of-veterans-affairs/frontend-review-group

Update robots.txt
  src/site/assets/robots.txt
Owners: @department-of-veterans-affairs/frontend-review-group

VAVFS-6724: [Fixed] staff title missing (#671)
  src/site/paragraphs/staff_profile.drupal.liquid
Owners: @department-of-veterans-affairs/frontend-review-group

Fix styling for top of page content block
  src/site/layouts/vamc_system_register_for_care.drupal.liquid
Owners: @department-of-veterans-affairs/vsa-public-websites-frontend, @department-of-veterans-affairs/vsa-facilities-frontend

Change all ENV to point to dev for content-release and daily deploy
  .github/workflows/content-release.yml
  .github/workflows/daily-deploy-production.yml
Owners: @department-of-veterans-affairs/frontend-review-group

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
#  @department-of-veterans-affairs/frontend-review-group will be requested for
# review when someone opens a pull request.
#
# Review the CODEOWNERS guide before editing:
# https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/engineering/codeowners.md

# VSP
*       @department-of-veterans-affairs/frontend-review-group

# Testing
src/platform/testing/e2e/ @department-of-veterans-affairs/vsp-testing
config/cypress.json @department-of-veterans-affairs/vsp-testing

# Shared templates
src/site/includes @department-of-veterans-affairs/vsa-public-websites-frontend @department-of-veterans-affairs/vsa-facilities-frontend @department-of-veterans-affairs/vsa-caregiver-frontend
src/site/components @department-of-veterans-affairs/vsa-public-websites-frontend @department-of-veterans-affairs/vsa-facilities-frontend @department-of-veterans-affairs/vsa-caregiver-frontend
src/site/layouts @department-of-veterans-affairs/vsa-public-websites-frontend @department-of-veterans-affairs/vsa-facilities-frontend
src/site/teasers @department-of-veterans-affairs/vsa-public-websites-frontend @department-of-veterans-affairs/vsa-facilities-frontend
src/site/filters @department-of-veterans-affairs/vsa-public-websites-frontend @department-of-veterans-affairs/vsa-facilities-frontend

# Facility Locator and VAMC pages
src/site/facilities @department-of-veterans-affairs/vsa-facilities-frontend
src/site/layouts/health*.drupal.liquid @department-of-veterans-affairs/vsa-facilities-frontend
src/site/navigation/facility_no_drupal_page_sidebar_nav.drupal.liquid @department-of-veterans-affairs/vsa-facilities-frontend
src/site/navigation/facility_sidebar_nav.drupal.liquid @department-of-veterans-affairs/vsa-facilities-frontend
src/site/paragraphs/facilities @department-of-veterans-affairs/vsa-facilities-frontend

# GraphQL Queries
src/site/stages/build/drupal @department-of-veterans-affairs/vsa-public-websites-frontend @department-of-veterans-affairs/vsa-facilities-frontend
