Repository department-of-veterans-affairs/content-build, changes with the owners that .github/CODEOWNERS names for each.
All owners: @department-of-veterans-affairs/cms-infrastructure, @department-of-veterans-affairs/va-platform-cop-frontend, @department-of-veterans-affairs/vfs-public-websites-frontend, @department-of-veterans-affairs/vfs-facilities-frontend, @department-of-veterans-affairs/1010-health-apps-frontend, @department-of-veterans-affairs/benefits-accredited-rep-facing-engineers, @department-of-veterans-affairs/ap-admins, @department-of-veterans-affairs/platform-design-system-fe

update registry entry for debt help wizard
  src/applications/registry.json
Owners: @department-of-veterans-affairs/cms-infrastructure, @department-of-veterans-affairs/va-platform-cop-frontend

Add ARP title
  src/site/includes/accredited-representative-portal/head.html
Owners: @department-of-veterans-affairs/vfs-public-websites-frontend, @department-of-veterans-affairs/vfs-facilities-frontend, @department-of-veterans-affairs/1010-health-apps-frontend

Fix ARP template properties
  src/applications/registry.json
Owners: @department-of-veterans-affairs/cms-infrastructure, @department-of-veterans-affairs/va-platform-cop-frontend

VEBT-1125 update last update of the sco page from 2024-12-10 to 2025-02-13. (#2446)
  src/applications/registry.json
Owners: @department-of-veterans-affairs/cms-infrastructure, @department-of-veterans-affairs/va-platform-cop-frontend

#vebt-1159 #comment Removing 22-5490 from registry.json
  src/applications/registry.json
Owners: @department-of-veterans-affairs/cms-infrastructure, @department-of-veterans-affairs/va-platform-cop-frontend

changes
  src/site/stages/build/drupal/health-care-region.js
Owners: @department-of-veterans-affairs/vfs-public-websites-frontend, @department-of-veterans-affairs/vfs-facilities-frontend, @department-of-veterans-affairs/cms-infrastructure

changes
  src/site/stages/build/drupal/health-care-region.js
Owners: @department-of-veterans-affairs/vfs-public-websites-frontend, @department-of-veterans-affairs/vfs-facilities-frontend, @department-of-veterans-affairs/cms-infrastructure

art/representative-form-upload - step 1- point everything to simple forms
  src/applications/registry.json
Owners: @department-of-veterans-affairs/cms-infrastructure, @department-of-veterans-affairs/va-platform-cop-frontend

changes
  src/site/constants/content-modeling.js
  src/site/stages/build/drupal/individual-queries.js
Owners: @department-of-veterans-affairs/cms-infrastructure, @department-of-veterans-affairs/va-platform-cop-frontend, @department-of-veterans-affairs/vfs-public-websites-frontend, @department-of-veterans-affairs/vfs-facilities-frontend

art/representative-form-upload - reverted back ARP
  src/applications/registry.json
Owners: @department-of-veterans-affairs/cms-infrastructure, @department-of-veterans-affairs/va-platform-cop-frontend

updated registery.json to new url
  src/applications/registry.json
Owners: @department-of-veterans-affairs/cms-infrastructure, @department-of-veterans-affairs/va-platform-cop-frontend

Add minimalExcludePaths and excludePaths for minimal footer
  src/applications/registry-schema.json
  src/applications/registry.json
  src/site/includes/footer.html
  src/site/includes/header-minimal.html
Owners: @department-of-veterans-affairs/cms-infrastructure, @department-of-veterans-affairs/va-platform-cop-frontend, @department-of-veterans-affairs/platform-design-system-fe

Add textInput fragment
  src/site/stages/build/drupal/static-data-files/digitalForm/fragments/textInput.graphql.js
  src/site/stages/build/drupal/static-data-files/digitalForm/tests/fragments/textInput.graphql.unit.spec.js
Owners: @department-of-veterans-affairs/vfs-public-websites-frontend, @department-of-veterans-affairs/vfs-facilities-frontend, @department-of-veterans-affairs/cms-infrastructure

updated registery.json to new url (#2452)
  src/applications/registry.json
Owners: @department-of-veterans-affairs/cms-infrastructure, @department-of-veterans-affairs/va-platform-cop-frontend

Add page fragment
  src/site/stages/build/drupal/static-data-files/digitalForm/fragments/page.graphql.js
  src/site/stages/build/drupal/static-data-files/digitalForm/tests/fragments/page.graphql.unit.spec.js
Owners: @department-of-veterans-affairs/vfs-public-websites-frontend, @department-of-veterans-affairs/vfs-facilities-frontend, @department-of-veterans-affairs/cms-infrastructure

Create customStep fragment
  src/site/stages/build/drupal/static-data-files/digitalForm/fragments/customStep.graphql.js
  src/site/stages/build/drupal/static-data-files/digitalForm/tests/fragments/customStep.graphql.unit.spec.js
Owners: @department-of-veterans-affairs/vfs-public-websites-frontend, @department-of-veterans-affairs/vfs-facilities-frontend, @department-of-veterans-affairs/cms-infrastructure

Add customStep fragment to digitalForm
  src/site/stages/build/drupal/static-data-files/digitalForm/fragments/digitalForm.graphql.js
  src/site/stages/build/drupal/static-data-files/digitalForm/tests/fragments/digitalForm.graphql.unit.spec.js
Owners: @department-of-veterans-affairs/vfs-public-websites-frontend, @department-of-veterans-affairs/vfs-facilities-frontend, @department-of-veterans-affairs/cms-infrastructure

Extract stripPrefix to a utils file
  src/site/stages/build/drupal/static-data-files/digitalForm/postProcessDigitalForm.js
  src/site/stages/build/drupal/static-data-files/digitalForm/tests/utils.unit.spec.js
  src/site/stages/build/drupal/static-data-files/digitalForm/utils.js
Owners: @department-of-veterans-affairs/vfs-public-websites-frontend, @department-of-veterans-affairs/vfs-facilities-frontend, @department-of-veterans-affairs/cms-infrastructure

Extract formatDate to utils
  src/site/stages/build/drupal/static-data-files/digitalForm/postProcessDigitalForm.js
  src/site/stages/build/drupal/static-data-files/digitalForm/tests/utils.unit.spec.js
  src/site/stages/build/drupal/static-data-files/digitalForm/utils.js
Owners: @department-of-veterans-affairs/vfs-public-websites-frontend, @department-of-veterans-affairs/vfs-facilities-frontend, @department-of-veterans-affairs/cms-infrastructure

Add Custom Step to query result fixture
  src/site/stages/build/drupal/static-data-files/digitalForm/tests/fixtures/queryResult.json
Owners: @department-of-veterans-affairs/vfs-public-websites-frontend, @department-of-veterans-affairs/vfs-facilities-frontend, @department-of-veterans-affairs/cms-infrastructure

Add minimalExcludePaths and excludePaths for minimal footer (#2453)
  src/applications/registry-schema.json
  src/applications/registry.json
  src/site/includes/footer.html
  src/site/includes/header-minimal.html
Owners: @department-of-veterans-affairs/cms-infrastructure, @department-of-veterans-affairs/va-platform-cop-frontend, @department-of-veterans-affairs/platform-design-system-fe

Extract chapter normalization to its own file
  src/site/stages/build/drupal/static-data-files/digitalForm/chapters.js
  src/site/stages/build/drupal/static-data-files/digitalForm/postProcessDigitalForm.js
  src/site/stages/build/drupal/static-data-files/digitalForm/tests/chapters.unit.spec.js
  src/site/stages/build/drupal/static-data-files/digitalForm/tests/postProcessDigitalForm.unit.spec.js
Owners: @department-of-veterans-affairs/vfs-public-websites-frontend, @department-of-veterans-affairs/vfs-facilities-frontend, @department-of-veterans-affairs/cms-infrastructure

Add pages to normalized custom step
  src/site/stages/build/drupal/static-data-files/digitalForm/chapters.js
  src/site/stages/build/drupal/static-data-files/digitalForm/tests/chapters.unit.spec.js
Owners: @department-of-veterans-affairs/vfs-public-websites-frontend, @department-of-veterans-affairs/vfs-facilities-frontend, @department-of-veterans-affairs/cms-infrastructure

Normalize Digital Form page fields
  src/site/stages/build/drupal/static-data-files/digitalForm/chapters.js
  src/site/stages/build/drupal/static-data-files/digitalForm/tests/chapters.unit.spec.js
Owners: @department-of-veterans-affairs/vfs-public-websites-frontend, @department-of-veterans-affairs/vfs-facilities-frontend, @department-of-veterans-affairs/cms-infrastructure

Normalize text input component
  src/site/stages/build/drupal/static-data-files/digitalForm/chapters.js
  src/site/stages/build/drupal/static-data-files/digitalForm/tests/chapters.unit.spec.js
Owners: @department-of-veterans-affairs/vfs-public-websites-frontend, @department-of-veterans-affairs/vfs-facilities-frontend, @department-of-veterans-affairs/cms-infrastructure

updated OHI to go to prod
  src/applications/registry.json
Owners: @department-of-veterans-affairs/cms-infrastructure, @department-of-veterans-affairs/va-platform-cop-frontend

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
#  @department-of-veterans-affairs/va-platform-cop-frontend will be requested for
# review when someone opens a pull request.
#
# Review the CODEOWNERS guide before editing:
# https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/engineering/codeowners.md

# General ownership: CMS Team & FE COP
*       @department-of-veterans-affairs/cms-infrastructure @department-of-veterans-affairs/va-platform-cop-frontend

# Content release
.github/workflows/content-release.yml @department-of-veterans-affairs/cms-infrastructure @department-of-veterans-affairs/va-platform-cop-frontend
.github/workflows/request-content-release.yml @department-of-veterans-affairs/cms-infrastructure @department-of-veterans-affairs/va-platform-cop-frontend
.github/workflows/deploy-content-preview-server.yml @department-of-veterans-affairs/cms-infrastructure
.github/workflows/wait-for-cms-ready @department-of-veterans-affairs/cms-infrastructure @department-of-veterans-affairs/va-platform-cop-frontend
.github/workflows/record-release-interval @department-of-veterans-affairs/cms-infrastructure @department-of-veterans-affairs/va-platform-cop-frontend
script @department-of-veterans-affairs/cms-infrastructure @department-of-veterans-affairs/va-platform-cop-frontend

# Shared templates
src/site/includes @department-of-veterans-affairs/vfs-public-websites-frontend @department-of-veterans-affairs/vfs-facilities-frontend @department-of-veterans-affairs/1010-health-apps-frontend
src/site/components @department-of-veterans-affairs/vfs-public-websites-frontend @department-of-veterans-affairs/vfs-facilities-frontend @department-of-veterans-affairs/1010-health-apps-frontend
src/site/layouts @department-of-veterans-affairs/vfs-public-websites-frontend @department-of-veterans-affairs/vfs-facilities-frontend
src/site/teasers @department-of-veterans-affairs/vfs-public-websites-frontend @department-of-veterans-affairs/vfs-facilities-frontend
src/site/filters @department-of-veterans-affairs/vfs-public-websites-frontend @department-of-veterans-affairs/vfs-facilities-frontend

# Accredited representative
src/site/layouts/accredited-representative-portal.html @department-of-veterans-affairs/benefits-accredited-rep-facing-engineers

# Facility Locator and VAMC pages
## Multiple Facility types
src/site/facilities @department-of-veterans-affairs/vfs-facilities-frontend
src/site/layouts/locations_listing.drupal.liquid @department-of-veterans-affairs/vfs-facilities-frontend
src/site/navigation/facility_no_drupal_page_sidebar_nav.drupal.liquid @department-of-veterans-affairs/vfs-facilities-frontend
src/site/navigation/facility_sidebar_nav.drupal.liquid @department-of-veterans-affairs/vfs-facilities-frontend
src/site/paragraphs/facilities @department-of-veterans-affairs/vfs-facilities-frontend


## Facility locator

## VAMC
src/site/includes/va_police @department-of-veterans-affairs/vfs-facilities-frontend
src/site/layouts/health*.drupal.liquid @department-of-veterans-affairs/vfs-facilities-frontend
src/site/layouts/leadership_listing*.drupal.liquid @department-of-veterans-affairs/vfs-facilities-frontend
src/site/layouts/news_story.drupal.liquid @department-of-veterans-affairs/vfs-facilities-frontend
src/site/layouts/person_profile.drupal.liquid @department-of-veterans-affairs/vfs-facilities-frontend
src/site/layouts/press_release.drupal.liquid @department-of-veterans-affairs/vfs-facilities-frontend
src/site/layouts/press_releases_listing.drupal.liquid @department-of-veterans-affairs/vfs-facilities-frontend
src/site/layouts/regional_health_care_service_des.drupal.liquid @department-of-veterans-affairs/vfs-facilities-frontend
src/site/layouts/story_listing.drupal.liquid @department-of-veterans-affairs/vfs-facilities-frontend
src/site/layouts/tests/vamc* @department-of-veterans-affairs/vfs-facilities-frontend
src/site/layouts/vamc*.drupal.liquid @department-of-veterans-affairs/vfs-facilities-frontend
src/site/stages/build/drupal/static-data-files/vaPoliceData @department-of-veterans-affairs/vfs-facilities-frontend
src/site/tests/police @department-of-veterans-affairs/vfs-facilities-frontend

## VBA
src/site/includes/vba_facilities @department-of-veterans-affairs/vfs-facilities-frontend
src/site/layouts/vba*.drupal.liquid @department-of-veterans-affairs/vfs-facilities-frontend
src/site/layouts/tests/vba* @department-of-veterans-affairs/vfs-facilities-frontend

## Vet Center
src/site/includes/vet_centers @department-of-veterans-affairs/vfs-facilities-frontend
src/site/layouts/vet_center*.drupal.liquid @department-of-veterans-affairs/vfs-facilities-frontend
src/site/layouts/tests/vet_center* @department-of-veterans-affairs/vfs-facilities-frontend

# Public Websites
src/site/blocks @department-of-veterans-affairs/vfs-public-websites-frontend
src/site/layouts/basic_landing_page.drupal.liquid @department-of-veterans-affairs/vfs-public-websites-frontend
src/site/layouts/campaign_landing_page.drupal.liquid @department-of-veterans-affairs/vfs-public-websites-frontend
src/site/layouts/checklist.drupal.liquid @department-of-veterans-affairs/vfs-public-websites-frontend
src/site/layouts/event* @department-of-veterans-affairs/vfs-public-websites-frontend @department-of-veterans-affairs/ap-admins
src/site/layouts/faq*.drupal.liquid @department-of-veterans-affairs/vfs-public-websites-frontend
src/site/layouts/full_width_banner_alert.drupal.liquid @department-of-veterans-affairs/vfs-public-websites-frontend
src/site/layouts/home* @department-of-veterans-affairs/vfs-public-websites-frontend
src/site/layouts/landing_page.drupal.liquid @department-of-veterans-affairs/vfs-public-websites-frontend
src/site/layouts/media_list*.drupal.liquid @department-of-veterans-affairs/vfs-public-websites-frontend
src/site/layouts/office.drupal.liquid @department-of-veterans-affairs/vfs-public-websites-frontend
src/site/layouts/outreach_asset.drupal.liquid @department-of-veterans-affairs/vfs-public-websites-frontend
src/site/layouts/page* @department-of-veterans-affairs/vfs-public-websites-frontend
src/site/layouts/publication_listing.drupal.liquid @department-of-veterans-affairs/vfs-public-websites-frontend
src/site/layouts/q_a.drupal.liquid @department-of-veterans-affairs/vfs-public-websites-frontend
src/site/layouts/step_by_step.drupal.liquid @department-of-veterans-affairs/vfs-public-websites-frontend
src/site/layouts/support*.drupal.liquid @department-of-veterans-affairs/vfs-public-websites-frontend
src/site/layouts/va_form.drupal.liquid @department-of-veterans-affairs/vfs-public-websites-frontend
src/site/navigation/sidebar_nav.drupal.liquid @department-of-veterans-affairs/vfs-public-websites-frontend
src/site/paragraphs @department-of-veterans-affairs/vfs-public-websites-frontend
src/site/tests/home @department-of-veterans-affairs/vfs-public-websites-frontend

# Platform Design System
src/site/includes/footer.html @department-of-veterans-affairs/platform-design-system-fe
src/site/includes/header-minimal.html @department-of-veterans-affairs/platform-design-system-fe
src/site/includes/header.html @department-of-veterans-affairs/platform-design-system-fe
src/site/includes/top-nav.html @department-of-veterans-affairs/platform-design-system-fe
src/site/includes/usa-website-header.html @department-of-veterans-affairs/platform-design-system-fe


# GraphQL Queries
src/site/stages/build/drupal @department-of-veterans-affairs/vfs-public-websites-frontend @department-of-veterans-affairs/vfs-facilities-frontend @department-of-veterans-affairs/cms-infrastructure

# Site Assets
src/site/assets/robots.txt @department-of-veterans-affairs/vfs-public-websites-frontend
