Repository department-of-veterans-affairs/content-build, changes with the owners that .github/CODEOWNERS names for each.
All owners: @department-of-veterans-affairs/frontend-review-group, @department-of-veterans-affairs/vsp-testing, @department-of-veterans-affairs/vsa-public-websites-frontend, @department-of-veterans-affairs/vsa-facilities-frontend, @department-of-veterans-affairs/vsa-caregiver-frontend

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
#  @department-of-veterans-affairs/frontend-review-group will be requested for
# review when someone opens a pull request.
#
# Review the CODEOWNERS guide before editing:
# https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/engineering/codeowners.md

# VSP
*       @department-of-veterans-affairs/frontend-review-group

# Testing
src/platform/testing/e2e/ @department-of-veterans-affairs/vsp-testing
config/cypress.json @department-of-veterans-affairs/vsp-testing

# Shared templates
src/site/includes @department-of-veterans-affairs/vsa-public-websites-frontend @department-of-veterans-affairs/vsa-facilities-frontend @department-of-veterans-affairs/vsa-caregiver-frontend
src/site/components @department-of-veterans-affairs/vsa-public-websites-frontend @department-of-veterans-affairs/vsa-facilities-frontend @department-of-veterans-affairs/vsa-caregiver-frontend
src/site/layouts @department-of-veterans-affairs/vsa-public-websites-frontend @department-of-veterans-affairs/vsa-facilities-frontend
src/site/teasers @department-of-veterans-affairs/vsa-public-websites-frontend @department-of-veterans-affairs/vsa-facilities-frontend
src/site/filters @department-of-veterans-affairs/vsa-public-websites-frontend @department-of-veterans-affairs/vsa-facilities-frontend

# Facility Locator and VAMC pages
src/site/facilities @department-of-veterans-affairs/vsa-facilities-frontend
src/site/layouts/health*.drupal.liquid @department-of-veterans-affairs/vsa-facilities-frontend
src/site/navigation/facility_no_drupal_page_sidebar_nav.drupal.liquid @department-of-veterans-affairs/vsa-facilities-frontend
src/site/navigation/facility_sidebar_nav.drupal.liquid @department-of-veterans-affairs/vsa-facilities-frontend
src/site/paragraphs/facilities @department-of-veterans-affairs/vsa-facilities-frontend

# GraphQL Queries
src/site/stages/build/drupal @department-of-veterans-affairs/vsa-public-websites-frontend @department-of-veterans-affairs/vsa-facilities-frontend

Fix permission error (#702)
  .github/workflows/content-release.yml
Owners: @department-of-veterans-affairs/frontend-review-group

VAVFS-6800-FE-displays-in-progress-events-as-past
  src/site/filters/liquid.js
  src/site/stages/build/drupal/graphql/eventListingPage.graphql.js
Owners: @department-of-veterans-affairs/vsa-public-websites-frontend, @department-of-veterans-affairs/vsa-facilities-frontend

removed topTaskUrl filter from hearing aid batteries link
  src/site/layouts/health_care_region_page.drupal.liquid
Owners: @department-of-veterans-affairs/vsa-facilities-frontend

fixed unit test
  src/site/layouts/health_care_region_page.drupal.liquid
  src/site/layouts/tests/vamc/template/health_care_region_page.unit.spec.js
Owners: @department-of-veterans-affairs/vsa-facilities-frontend, @department-of-veterans-affairs/vsa-public-websites-frontend

Upgrade unit test reporter action in GitHub Actions CI
  .github/workflows/continuous-integration.yml
Owners: @department-of-veterans-affairs/frontend-review-group

Use consistent version for GHA action used for AWS secrets
  .github/workflows/a11y.yml
  .github/workflows/content-release.yml
  .github/workflows/continuous-integration.yml
  .github/workflows/daily-deploy-production.yml
  .github/workflows/manual-deploy-dev-staging.yml
  .github/workflows/manual-review.yml
  .github/workflows/slack-notify/action.yml
Owners: @department-of-veterans-affairs/frontend-review-group

Fix rebase
  .github/workflows/continuous-integration.yml
Owners: @department-of-veterans-affairs/frontend-review-group

Update robots.txt
  src/site/assets/robots.txt
Owners: @department-of-veterans-affairs/frontend-review-group

Update robots.txt (#706)
  src/site/assets/robots.txt
Owners: @department-of-veterans-affairs/frontend-review-group

Use consistent version for GHA action used for AWS secrets (#705)
  .github/workflows/a11y.yml
  .github/workflows/content-release.yml
  .github/workflows/continuous-integration.yml
  .github/workflows/daily-deploy-production.yml
  .github/workflows/manual-deploy-dev-staging.yml
  .github/workflows/manual-review.yml
  .github/workflows/slack-notify/action.yml
Owners: @department-of-veterans-affairs/frontend-review-group

add new headings to home-page template
  src/site/layouts/home.drupal.liquid
Owners: @department-of-veterans-affairs/vsa-public-websites-frontend, @department-of-veterans-affairs/vsa-facilities-frontend

Implement vet center official name field
  src/site/layouts/tests/vet_center/template/fixtures/vet_center_data.json
  src/site/layouts/tests/vet_center/template/vet_center.drupal.unit.spec.js
  src/site/layouts/vet_center.drupal.liquid
  src/site/stages/build/drupal/graphql/vetCenter.graphql.js
Owners: @department-of-veterans-affairs/vsa-public-websites-frontend, @department-of-veterans-affairs/vsa-facilities-frontend

Ability to deploy to 1 or both
  .github/workflows/manual-deploy-dev-staging.yml
Owners: @department-of-veterans-affairs/frontend-review-group

Update syntax on conditional statement
  .github/workflows/manual-deploy-dev-staging.yml
Owners: @department-of-veterans-affairs/frontend-review-group

remove Columbus logic
  src/site/facilities/facilities_health_services_buttons.drupal.liquid
Owners: @department-of-veterans-affairs/vsa-facilities-frontend

Added search rep to registry
  src/applications/registry.json
Owners: @department-of-veterans-affairs/frontend-review-group

Cerner implementation (#682)
  src/site/filters/liquid.js
  src/site/layouts/health_care_region_page.drupal.liquid
  src/site/layouts/tests/vamc/fixtures/health_care_region_page.json
  src/site/layouts/tests/vamc/template/health_care_region_page.unit.spec.js
  src/site/stages/build/drupal/graphql/healthCareRegionPage.graphql.js
Owners: @department-of-veterans-affairs/vsa-public-websites-frontend, @department-of-veterans-affairs/vsa-facilities-frontend

Upgrade unit test reporter action in GitHub Actions CI (#704)
  .github/workflows/continuous-integration.yml
Owners: @department-of-veterans-affairs/frontend-review-group

Populate operating status location info dynamically from health_care_local_facility nodes
  script/preview.js
  src/site/stages/build/drupal/graphql/locationsOperatingStatus.graphql.js
  src/site/stages/build/drupal/graphql/vamcOperatingStatusAndAlerts.graphql.js
  src/site/stages/build/drupal/individual-queries.js
  src/site/stages/build/drupal/metalsmith-drupal.js
  src/site/stages/build/drupal/page.js
Owners: @department-of-veterans-affairs/frontend-review-group, @department-of-veterans-affairs/vsa-public-websites-frontend, @department-of-veterans-affairs/vsa-facilities-frontend

small update
  src/site/layouts/vet_center.drupal.liquid
Owners: @department-of-veterans-affairs/vsa-public-websites-frontend, @department-of-veterans-affairs/vsa-facilities-frontend

Update README with GitHub Actions build status
  README.md
Owners: @department-of-veterans-affairs/frontend-review-group

working in preview!
  script/preview.js
  src/site/stages/build/drupal/graphql/locationsOperatingStatus.graphql.js
  src/site/stages/build/drupal/individual-queries.js
  src/site/stages/build/drupal/page.js
Owners: @department-of-veterans-affairs/frontend-review-group, @department-of-veterans-affairs/vsa-public-websites-frontend, @department-of-veterans-affairs/vsa-facilities-frontend

remove console.log
  src/site/stages/build/drupal/metalsmith-drupal.js
Owners: @department-of-veterans-affairs/vsa-public-websites-frontend, @department-of-veterans-affairs/vsa-facilities-frontend

Fix null targetId errors
  src/site/stages/build/drupal/page.js
Owners: @department-of-veterans-affairs/vsa-public-websites-frontend, @department-of-veterans-affairs/vsa-facilities-frontend

Show main locations first
  src/site/stages/build/drupal/graphql/locationsOperatingStatus.graphql.js
  src/site/stages/build/drupal/page.js
Owners: @department-of-veterans-affairs/vsa-public-websites-frontend, @department-of-veterans-affairs/vsa-facilities-frontend

Update README with GitHub Actions build status (#712)
  README.md
Owners: @department-of-veterans-affairs/frontend-review-group

reduce locationsOperatingStatus query limit to 3000
  src/site/stages/build/drupal/graphql/locationsOperatingStatus.graphql.js
Owners: @department-of-veterans-affairs/vsa-public-websites-frontend, @department-of-veterans-affairs/vsa-facilities-frontend

Github Actions (MD) -- Enhance manual deployment (#708)
  .github/workflows/manual-deploy-dev-staging.yml
Owners: @department-of-veterans-affairs/frontend-review-group

Add role="banner"
  src/site/includes/top-nav.html
Owners: @department-of-veterans-affairs/vsa-public-websites-frontend, @department-of-veterans-affairs/vsa-facilities-frontend, @department-of-veterans-affairs/vsa-caregiver-frontend

Add more details to aXe failure messages
  src/platform/testing/e2e/cypress/support/commands/axeCheck.js
Owners: @department-of-veterans-affairs/vsp-testing

Add more details to aXe failure messages (#714)
  src/platform/testing/e2e/cypress/support/commands/axeCheck.js
Owners: @department-of-veterans-affairs/vsp-testing

Add concurrency based off environment
  .github/workflows/content-release.yml
Owners: @department-of-veterans-affairs/frontend-review-group

Add role="banner"
  src/site/includes/top-nav.html
Owners: @department-of-veterans-affairs/vsa-public-websites-frontend, @department-of-veterans-affairs/vsa-facilities-frontend, @department-of-veterans-affairs/vsa-caregiver-frontend

Upgrade mochawesome
  package.json
  yarn.lock
Owners: @department-of-veterans-affairs/frontend-review-group

Upgrade Cypress GitHub Actions report generator to latest version
  .github/workflows/continuous-integration.yml
Owners: @department-of-veterans-affairs/frontend-review-group

Populate operating status location info dynamically from health_care_local_facility nodes (#710)
  script/preview.js
  src/site/stages/build/drupal/graphql/locationsOperatingStatus.graphql.js
  src/site/stages/build/drupal/graphql/vamcOperatingStatusAndAlerts.graphql.js
  src/site/stages/build/drupal/individual-queries.js
  src/site/stages/build/drupal/page.js
Owners: @department-of-veterans-affairs/frontend-review-group, @department-of-veterans-affairs/vsa-public-websites-frontend, @department-of-veterans-affairs/vsa-facilities-frontend

Sanitize accordion item HTML
  package.json
  src/site/filters/liquid.js
  src/site/filters/liquid.unit.spec.js
  src/site/paragraphs/collapsible_panel.drupal.liquid
  yarn.lock
Owners: @department-of-veterans-affairs/frontend-review-group, @department-of-veterans-affairs/vsa-public-websites-frontend, @department-of-veterans-affairs/vsa-facilities-frontend

cancel-in-progress for non-prod
  .github/workflows/content-release.yml
Owners: @department-of-veterans-affairs/frontend-review-group

Github Actions (CI) -- Add concurrency to content-release based off environment (#715)
  .github/workflows/content-release.yml
Owners: @department-of-veterans-affairs/frontend-review-group

Use existing "encode" filter
  package.json
  src/site/filters/liquid.js
  src/site/filters/liquid.unit.spec.js
  src/site/paragraphs/collapsible_panel.drupal.liquid
  yarn.lock
Owners: @department-of-veterans-affairs/frontend-review-group, @department-of-veterans-affairs/vsa-public-websites-frontend, @department-of-veterans-affairs/vsa-facilities-frontend
