Repository department-of-veterans-affairs/content-build, changes with the owners that .github/CODEOWNERS names for each.
All owners: @department-of-veterans-affairs/frontend-review-group, @department-of-veterans-affairs/vsp-testing, @department-of-veterans-affairs/vsa-public-websites-frontend, @department-of-veterans-affairs/vsa-facilities-frontend, @department-of-veterans-affairs/vsa-caregiver-frontend

Add manual deploy workflow for dev/staging
  .github/workflows/manual-deploy-dev-staging.yml
Owners: @department-of-veterans-affairs/frontend-review-group

remove disallow entries from robots.txt
  src/site/assets/robots.txt
Owners: @department-of-veterans-affairs/frontend-review-group

added MenuItem fragment
  src/site/stages/build/drupal/graphql/navigation-fragments/facilitySidebar.nav.graphql.js
Owners: @department-of-veterans-affairs/vsa-public-websites-frontend, @department-of-veterans-affairs/vsa-facilities-frontend

changes to side nav query
  src/site/navigation/facility_sidebar_nav.drupal.liquid
  src/site/stages/build/drupal/api.js
  src/site/stages/build/drupal/graphql/navigation-fragments/facilitySidebar.nav.graphql.js
Owners: @department-of-veterans-affairs/vsa-facilities-frontend, @department-of-veterans-affairs/vsa-public-websites-frontend

filtered side nav facilities and removed custom code to handle error with 2 facilities
  src/site/filters/liquid.js
  src/site/navigation/facility_sidebar_nav.drupal.liquid
  src/site/stages/build/drupal/graphql/navigation-fragments/facilitySidebar.nav.graphql.js
Owners: @department-of-veterans-affairs/vsa-public-websites-frontend, @department-of-veterans-affairs/vsa-facilities-frontend

moved MenuItem fragment
  src/site/stages/build/drupal/graphql/navigation-fragments/facilitySidebar.nav.graphql.js
Owners: @department-of-veterans-affairs/vsa-public-websites-frontend, @department-of-veterans-affairs/vsa-facilities-frontend

temporarily commented out json.errors instances
  src/site/navigation/facility_sidebar_nav.drupal.liquid
  src/site/stages/build/drupal/api.js
Owners: @department-of-veterans-affairs/vsa-facilities-frontend, @department-of-veterans-affairs/vsa-public-websites-frontend

remove disallow entries from robots.txt (#651)
  src/site/assets/robots.txt
Owners: @department-of-veterans-affairs/frontend-review-group

test slack notify
  .github/workflows/continuous-integration.yml
Owners: @department-of-veterans-affairs/frontend-review-group

Fix syntax error
  .github/workflows/continuous-integration.yml
Owners: @department-of-veterans-affairs/frontend-review-group

Remove references to Nightwatch
  README.md
  package.json
Owners: @department-of-veterans-affairs/frontend-review-group

VAVFS-6549: Fixed failing unit test.
  src/site/layouts/tests/person_profile/fixtures/download-full-size-photo-link.json
Owners: @department-of-veterans-affairs/vsa-public-websites-frontend, @department-of-veterans-affairs/vsa-facilities-frontend

fixed failing test
  src/site/filters/liquid.js
  src/site/navigation/facility_sidebar_nav.drupal.liquid
Owners: @department-of-veterans-affairs/vsa-public-websites-frontend, @department-of-veterans-affairs/vsa-facilities-frontend

removed disallow entries from robots.txt
  src/site/assets/robots.txt
Owners: @department-of-veterans-affairs/frontend-review-group

Remove Cypress resolution from package.json
  package.json
Owners: @department-of-veterans-affairs/frontend-review-group

VAVFS-6549-bio-check-am (#635)
  src/site/layouts/person_profile.drupal.liquid
  src/site/layouts/tests/person_profile/fixtures/download-full-size-photo-link.json
  src/site/paragraphs/staff_profile.drupal.liquid
  src/site/stages/build/drupal/graphql/bioPage.graphql.js
Owners: @department-of-veterans-affairs/vsa-public-websites-frontend, @department-of-veterans-affairs/vsa-facilities-frontend, @department-of-veterans-affairs/frontend-review-group

Remove references to Nightwatch (#653)
  README.md
  package.json
Owners: @department-of-veterans-affairs/frontend-review-group

removed disallow entries from robots.txt (#654)
  src/site/assets/robots.txt
Owners: @department-of-veterans-affairs/frontend-review-group

Remove Cypress resolution from package.json (#655)
  package.json
Owners: @department-of-veterans-affairs/frontend-review-group

Added contrib info
  CONTRIBUTING.md
Owners: @department-of-veterans-affairs/frontend-review-group

Update CONTRIBUTING.md
  CONTRIBUTING.md
Owners: @department-of-veterans-affairs/frontend-review-group

Update CONTRIBUTING.md
  CONTRIBUTING.md
Owners: @department-of-veterans-affairs/frontend-review-group

Add notify-failure step to mimic continuous integration
  .github/workflows/manual-deploy-dev-staging.yml
Owners: @department-of-veterans-affairs/frontend-review-group

Feature/30329 add contribution files (#657)
  CONTRIBUTING.md
Owners: @department-of-veterans-affairs/frontend-review-group

Remove unused unit test script
  script/run-unit-test.sh
Owners: @department-of-veterans-affairs/frontend-review-group

Remove unused unit test script (#658)
  script/run-unit-test.sh
Owners: @department-of-veterans-affairs/frontend-review-group

[31084] Manual Deploy Workflow for dev/staging (#650)
  .github/workflows/manual-deploy-dev-staging.yml
Owners: @department-of-veterans-affairs/frontend-review-group

Remove unused Cypress environment variable
  jenkins/common.groovy
  script/run-cypress-tests-docker.sh
Owners: @department-of-veterans-affairs/frontend-review-group

Fix
  jenkins/common.groovy
Owners: @department-of-veterans-affairs/frontend-review-group

Remove unused Cypress environment variable (#659)
  jenkins/common.groovy
  script/run-cypress-tests-docker.sh
Owners: @department-of-veterans-affairs/frontend-review-group

Disabled content-release workflow
  .github/workflows/content-release.yml
Owners: @department-of-veterans-affairs/frontend-review-group

Disabled content-release workflow (#660)
  .github/workflows/content-release.yml
Owners: @department-of-veterans-affairs/frontend-review-group

Github Actions (CI) -- Enable staging in GHA (#588)
  .github/workflows/continuous-integration.yml
  Jenkinsfile
Owners: @department-of-veterans-affairs/frontend-review-group

Get drupal password
  .github/workflows/continuous-integration.yml
Owners: @department-of-veterans-affairs/frontend-review-group

Get drupal password (#661)
  .github/workflows/continuous-integration.yml
Owners: @department-of-veterans-affairs/frontend-review-group

add continue-on-error to unblock
  .github/workflows/continuous-integration.yml
Owners: @department-of-veterans-affairs/frontend-review-group

add continue-on-error to unblock
  .github/workflows/continuous-integration.yml
Owners: @department-of-veterans-affairs/frontend-review-group

Github Actions -- continue-on-error for staging (#662)
  .github/workflows/continuous-integration.yml
Owners: @department-of-veterans-affairs/frontend-review-group

get callback token from param store
  .github/workflows/continuous-integration.yml
Owners: @department-of-veterans-affairs/frontend-review-group

fix param store
  .github/workflows/continuous-integration.yml
Owners: @department-of-veterans-affairs/frontend-review-group

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
#  @department-of-veterans-affairs/frontend-review-group will be requested for
# review when someone opens a pull request.
#
# Review the CODEOWNERS guide before editing:
# https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/engineering/codeowners.md

# VSP
*       @department-of-veterans-affairs/frontend-review-group

# Testing
src/platform/testing/e2e/ @department-of-veterans-affairs/vsp-testing
config/cypress.json @department-of-veterans-affairs/vsp-testing

# Shared templates
src/site/includes @department-of-veterans-affairs/vsa-public-websites-frontend @department-of-veterans-affairs/vsa-facilities-frontend @department-of-veterans-affairs/vsa-caregiver-frontend
src/site/components @department-of-veterans-affairs/vsa-public-websites-frontend @department-of-veterans-affairs/vsa-facilities-frontend @department-of-veterans-affairs/vsa-caregiver-frontend
src/site/layouts @department-of-veterans-affairs/vsa-public-websites-frontend @department-of-veterans-affairs/vsa-facilities-frontend
src/site/teasers @department-of-veterans-affairs/vsa-public-websites-frontend @department-of-veterans-affairs/vsa-facilities-frontend
src/site/filters @department-of-veterans-affairs/vsa-public-websites-frontend @department-of-veterans-affairs/vsa-facilities-frontend

# Facility Locator and VAMC pages
src/site/facilities @department-of-veterans-affairs/vsa-facilities-frontend
src/site/layouts/health*.drupal.liquid @department-of-veterans-affairs/vsa-facilities-frontend
src/site/navigation/facility_no_drupal_page_sidebar_nav.drupal.liquid @department-of-veterans-affairs/vsa-facilities-frontend
src/site/navigation/facility_sidebar_nav.drupal.liquid @department-of-veterans-affairs/vsa-facilities-frontend
src/site/paragraphs/facilities @department-of-veterans-affairs/vsa-facilities-frontend

# GraphQL Queries
src/site/stages/build/drupal @department-of-veterans-affairs/vsa-public-websites-frontend @department-of-veterans-affairs/vsa-facilities-frontend
