Repository department-of-veterans-affairs/content-build, changes with the owners that .github/CODEOWNERS names for each.
All owners: @department-of-veterans-affairs/cms-infrastructure, @department-of-veterans-affairs/va-platform-cop-frontend, @department-of-veterans-affairs/vfs-public-websites-frontend, @department-of-veterans-affairs/vfs-facilities-frontend, @department-of-veterans-affairs/1010-health-apps-frontend

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
#  @department-of-veterans-affairs/va-platform-cop-frontend will be requested for
# review when someone opens a pull request.
#
# Review the CODEOWNERS guide before editing:
# https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/engineering/codeowners.md

# General ownership: CMS Team & FE COP
*       @department-of-veterans-affairs/cms-infrastructure @department-of-veterans-affairs/va-platform-cop-frontend

# Content release
.github/workflows/content-release.yml @department-of-veterans-affairs/cms-infrastructure @department-of-veterans-affairs/va-platform-cop-frontend
.github/workflows/request-content-release.yml @department-of-veterans-affairs/cms-infrastructure @department-of-veterans-affairs/va-platform-cop-frontend
.github/workflows/deploy-content-preview-server.yml @department-of-veterans-affairs/cms-infrastructure
.github/workflows/wait-for-cms-ready @department-of-veterans-affairs/cms-infrastructure @department-of-veterans-affairs/va-platform-cop-frontend
.github/workflows/record-release-interval @department-of-veterans-affairs/cms-infrastructure @department-of-veterans-affairs/va-platform-cop-frontend
script @department-of-veterans-affairs/cms-infrastructure @department-of-veterans-affairs/va-platform-cop-frontend

# Shared templates
src/site/includes @department-of-veterans-affairs/vfs-public-websites-frontend @department-of-veterans-affairs/vfs-facilities-frontend @department-of-veterans-affairs/1010-health-apps-frontend
src/site/components @department-of-veterans-affairs/vfs-public-websites-frontend @department-of-veterans-affairs/vfs-facilities-frontend @department-of-veterans-affairs/1010-health-apps-frontend
src/site/layouts @department-of-veterans-affairs/vfs-public-websites-frontend @department-of-veterans-affairs/vfs-facilities-frontend
src/site/teasers @department-of-veterans-affairs/vfs-public-websites-frontend @department-of-veterans-affairs/vfs-facilities-frontend
src/site/filters @department-of-veterans-affairs/vfs-public-websites-frontend @department-of-veterans-affairs/vfs-facilities-frontend

# Facility Locator and VAMC pages
src/site/facilities @department-of-veterans-affairs/vfs-facilities-frontend
src/site/layouts/health*.drupal.liquid @department-of-veterans-affairs/vfs-facilities-frontend
src/site/navigation/facility_no_drupal_page_sidebar_nav.drupal.liquid @department-of-veterans-affairs/vfs-facilities-frontend
src/site/navigation/facility_sidebar_nav.drupal.liquid @department-of-veterans-affairs/vfs-facilities-frontend
src/site/paragraphs/facilities @department-of-veterans-affairs/vfs-facilities-frontend
src/site/stages/build/drupal/static-data-files/vaPoliceData @department-of-veterans-affairs/vfs-facilities-frontend

# GraphQL Queries
src/site/stages/build/drupal @department-of-veterans-affairs/vfs-public-websites-frontend @department-of-veterans-affairs/vfs-facilities-frontend @department-of-veterans-affairs/cms-infrastructure

# Site Assets
src/site/assets/robots.txt @department-of-veterans-affairs/vfs-public-websites-frontend

(my-health) Update registry.json to remove medications from the sitemap
  src/applications/registry.json
Owners: @department-of-veterans-affairs/cms-infrastructure, @department-of-veterans-affairs/va-platform-cop-frontend

Revert "VACMS-15339: Mobile promo banner (#1774)"
  src/site/assets/sass/style.scss
  src/site/includes/header.html
  src/site/includes/metatags.drupal.liquid
Owners: @department-of-veterans-affairs/cms-infrastructure, @department-of-veterans-affairs/va-platform-cop-frontend, @department-of-veterans-affairs/vfs-public-websites-frontend, @department-of-veterans-affairs/vfs-facilities-frontend, @department-of-veterans-affairs/1010-health-apps-frontend

Update src/applications/registry.json
  src/applications/registry.json
Owners: @department-of-veterans-affairs/cms-infrastructure, @department-of-veterans-affairs/va-platform-cop-frontend

Revert "VACMS-15339: Mobile promo banner (#1774)" (#1824)
  src/site/assets/sass/style.scss
  src/site/includes/header.html
  src/site/includes/metatags.drupal.liquid
Owners: @department-of-veterans-affairs/cms-infrastructure, @department-of-veterans-affairs/va-platform-cop-frontend, @department-of-veterans-affairs/vfs-public-websites-frontend, @department-of-veterans-affairs/vfs-facilities-frontend, @department-of-veterans-affairs/1010-health-apps-frontend

update the right padding
  src/site/includes/common-tasks.drupal.liquid
Owners: @department-of-veterans-affairs/vfs-public-websites-frontend, @department-of-veterans-affairs/vfs-facilities-frontend, @department-of-veterans-affairs/1010-health-apps-frontend

Finalize 20-10206 form-app URL & breadcrumbs (#1820)
  src/applications/registry.json
Owners: @department-of-veterans-affairs/cms-infrastructure, @department-of-veterans-affairs/va-platform-cop-frontend

working query and beginning of page - not clickable sidenav for VA Police
  src/site/constants/content-modeling.js
  src/site/layouts/vamc_system_va_police.drupal.liquid
  src/site/stages/build/drupal/graphql/CountEntityTypes.graphql.js
  src/site/stages/build/drupal/graphql/vaPolice.graphql.js
  src/site/stages/build/drupal/individual-queries.js
  src/site/stages/build/drupal/page.js
Owners: @department-of-veterans-affairs/cms-infrastructure, @department-of-veterans-affairs/va-platform-cop-frontend, @department-of-veterans-affairs/vfs-public-websites-frontend, @department-of-veterans-affairs/vfs-facilities-frontend

Update fetchApi.js
  src/site/stages/build/drupal/static-data-files/fetchApi.js
Owners: @department-of-veterans-affairs/vfs-public-websites-frontend, @department-of-veterans-affairs/vfs-facilities-frontend, @department-of-veterans-affairs/cms-infrastructure

VACMS-15632 Campaign Landing Pages image aspect ratio fix
  src/site/assets/sass/style.scss
  src/site/layouts/campaign_landing_page.drupal.liquid
  src/site/stages/build/drupal/graphql/nodeCampaignLandingPage.graphql.js
Owners: @department-of-veterans-affairs/cms-infrastructure, @department-of-veterans-affairs/va-platform-cop-frontend, @department-of-veterans-affairs/vfs-public-websites-frontend, @department-of-veterans-affairs/vfs-facilities-frontend

Adding inline styles and removing those from the stylesheet
  src/site/assets/sass/style.scss
  src/site/layouts/campaign_landing_page.drupal.liquid
Owners: @department-of-veterans-affairs/cms-infrastructure, @department-of-veterans-affairs/va-platform-cop-frontend, @department-of-veterans-affairs/vfs-public-websites-frontend, @department-of-veterans-affairs/vfs-facilities-frontend

Update fetchApi.js
  src/site/stages/build/drupal/static-data-files/fetchApi.js
Owners: @department-of-veterans-affairs/vfs-public-websites-frontend, @department-of-veterans-affairs/vfs-facilities-frontend, @department-of-veterans-affairs/cms-infrastructure
