Repository department-of-veterans-affairs/content-build, changes with the owners that .github/CODEOWNERS names for each.
All owners: @department-of-veterans-affairs/frontend-review-group, @department-of-veterans-affairs/vsp-testing, @department-of-veterans-affairs/vsa-public-websites-frontend, @department-of-veterans-affairs/vsa-facilities-frontend, @department-of-veterans-affairs/vsa-caregiver-frontend

Fix build.txt
  .github/workflows/content-release.yml
  .github/workflows/daily-deploy-production.yml
Owners: @department-of-veterans-affairs/frontend-review-group

fix sha ref for daily deploy
  .github/workflows/daily-deploy-production.yml
Owners: @department-of-veterans-affairs/frontend-review-group

Fix ref
  .github/workflows/daily-deploy-production.yml
Owners: @department-of-veterans-affairs/frontend-review-group

Single quotes are apparently required for expressions
  .github/workflows/content-release.yml
Owners: @department-of-veterans-affairs/frontend-review-group

Github Actions (DD & CR) -- Fix build.txt (#684)
  .github/workflows/content-release.yml
  .github/workflows/daily-deploy-production.yml
Owners: @department-of-veterans-affairs/frontend-review-group

Followup to build paramaterization: expressions must use single quotes (#685)
  .github/workflows/content-release.yml
Owners: @department-of-veterans-affairs/frontend-review-group

expand contains() call to individual equality checks
  .github/workflows/content-release.yml
Owners: @department-of-veterans-affairs/frontend-review-group

Still needs single quotes.
  .github/workflows/content-release.yml
Owners: @department-of-veterans-affairs/frontend-review-group

Test new syntax for input
  .github/workflows/content-release.yml
Owners: @department-of-veterans-affairs/frontend-review-group

Retest
  .github/workflows/content-release.yml
Owners: @department-of-veterans-affairs/frontend-review-group

retest
  .github/workflows/content-release.yml
Owners: @department-of-veterans-affairs/frontend-review-group

cleanup
  .github/workflows/content-release.yml
Owners: @department-of-veterans-affairs/frontend-review-group

Fix drupal machine name and fill in template.
  src/site/layouts/vamc_system_billing_and_insurance.drupal.liquid
  src/site/layouts/vamc_system_billing_insurance.drupal.liquid
  src/site/stages/build/drupal/graphql/vamcBillingAndInsurancePage.graphql.js
  src/site/stages/build/drupal/metalsmith-drupal.js
Owners: @department-of-veterans-affairs/vsa-public-websites-frontend, @department-of-veterans-affairs/vsa-facilities-frontend

Add support for sideBar
  src/site/stages/build/drupal/page.js
Owners: @department-of-veterans-affairs/vsa-public-websites-frontend, @department-of-veterans-affairs/vsa-facilities-frontend

Add ask-va widget to message us nav
  src/site/layouts/landing_page.drupal.liquid
Owners: @department-of-veterans-affairs/vsa-public-websites-frontend, @department-of-veterans-affairs/vsa-facilities-frontend

Hardened Billing and Insurance page (#668)
  src/site/layouts/vamc_system_billing_insurance.drupal.liquid
  src/site/stages/build/drupal/graphql/GetLatestPageById.graphql.js
  src/site/stages/build/drupal/graphql/vamcBillingAndInsurancePage.graphql.js
  src/site/stages/build/drupal/individual-queries.js
  src/site/stages/build/drupal/metalsmith-drupal.js
  src/site/stages/build/drupal/page.js
Owners: @department-of-veterans-affairs/vsa-public-websites-frontend, @department-of-veterans-affairs/vsa-facilities-frontend

Add ask-va widget to message us nav
  src/site/layouts/landing_page.drupal.liquid
Owners: @department-of-veterans-affairs/vsa-public-websites-frontend, @department-of-veterans-affairs/vsa-facilities-frontend

Add edge case for support service link with no phone number
  src/site/layouts/landing_page.drupal.liquid
Owners: @department-of-veterans-affairs/vsa-public-websites-frontend, @department-of-veterans-affairs/vsa-facilities-frontend

Github Actions (CR) -- Fix syntax error (#687)
  .github/workflows/content-release.yml
Owners: @department-of-veterans-affairs/frontend-review-group

Add edge case for support service link with no phone number
  src/site/layouts/landing_page.drupal.liquid
Owners: @department-of-veterans-affairs/vsa-public-websites-frontend, @department-of-veterans-affairs/vsa-facilities-frontend

Add deploy skipping via latest run number for CI (#683)
  .github/workflows/continuous-integration.yml
  script/github-actions/get-lastest-run-number.js
Owners: @department-of-veterans-affairs/frontend-review-group

Add logging to Jenkins about retries
  jenkins/common.groovy
Owners: @department-of-veterans-affairs/frontend-review-group

Add logging to build failure to compare to Jenkins
  .github/workflows/continuous-integration.yml
Owners: @department-of-veterans-affairs/frontend-review-group

add AWS config
  .github/workflows/continuous-integration.yml
Owners: @department-of-veterans-affairs/frontend-review-group

Update color to warning
  .github/workflows/continuous-integration.yml
Owners: @department-of-veterans-affairs/frontend-review-group

Add logging for retries
  .github/workflows/continuous-integration.yml
  jenkins/common.groovy
Owners: @department-of-veterans-affairs/frontend-review-group

test
  .github/workflows/continuous-integration.yml
Owners: @department-of-veterans-affairs/frontend-review-group

second commit
  .github/workflows/continuous-integration.yml
Owners: @department-of-veterans-affairs/frontend-review-group

nit
  .github/workflows/continuous-integration.yml
Owners: @department-of-veterans-affairs/frontend-review-group

Jenkins & Github Actions -- Add logging for retries and drupal cache (#691)
  .github/workflows/continuous-integration.yml
  jenkins/common.groovy
Owners: @department-of-veterans-affairs/frontend-review-group

update filename
  script/github-actions/get-latest-run-number.js
Owners: @department-of-veterans-affairs/frontend-review-group

update filename (#693)
  script/github-actions/get-latest-run-number.js
Owners: @department-of-veterans-affairs/frontend-review-group

fix environment variable
  .github/workflows/content-release.yml
Owners: @department-of-veterans-affairs/frontend-review-group

added filter for top task urls
  src/site/filters/liquid.js
  src/site/layouts/health_care_region_page.drupal.liquid
Owners: @department-of-veterans-affairs/vsa-public-websites-frontend, @department-of-veterans-affairs/vsa-facilities-frontend

added template test
  src/site/layouts/health_care_region_page.drupal.liquid
  src/site/layouts/tests/vamc/fixtures/health_care_region_page.json
  src/site/layouts/tests/vamc/template/health_care_region_page.unit.spec.js
Owners: @department-of-veterans-affairs/vsa-facilities-frontend, @department-of-veterans-affairs/vsa-public-websites-frontend

added logic to handle columbus OH cutover for make an appointment only
  src/site/facilities/facilities_health_services_buttons.drupal.liquid
  src/site/layouts/health_care_region_page.drupal.liquid
Owners: @department-of-veterans-affairs/vsa-facilities-frontend

cerner implementation
  src/site/layouts/health_care_region_page.drupal.liquid
  src/site/stages/build/drupal/graphql/healthCareRegionPage.graphql.js
Owners: @department-of-veterans-affairs/vsa-facilities-frontend, @department-of-veterans-affairs/vsa-public-websites-frontend

remove class from section
  src/site/layouts/health_care_region_page.drupal.liquid
Owners: @department-of-veterans-affairs/vsa-facilities-frontend

Utilize new header react widget
  src/site/includes/header.html
  src/site/includes/top-nav.html
  src/site/includes/usa-website-header.html
Owners: @department-of-veterans-affairs/vsa-public-websites-frontend, @department-of-veterans-affairs/vsa-facilities-frontend, @department-of-veterans-affairs/vsa-caregiver-frontend

Remove role="banner"
  src/site/includes/header.html
Owners: @department-of-veterans-affairs/vsa-public-websites-frontend, @department-of-veterans-affairs/vsa-facilities-frontend, @department-of-veterans-affairs/vsa-caregiver-frontend

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
#  @department-of-veterans-affairs/frontend-review-group will be requested for
# review when someone opens a pull request.
#
# Review the CODEOWNERS guide before editing:
# https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/engineering/codeowners.md

# VSP
*       @department-of-veterans-affairs/frontend-review-group

# Testing
src/platform/testing/e2e/ @department-of-veterans-affairs/vsp-testing
config/cypress.json @department-of-veterans-affairs/vsp-testing

# Shared templates
src/site/includes @department-of-veterans-affairs/vsa-public-websites-frontend @department-of-veterans-affairs/vsa-facilities-frontend @department-of-veterans-affairs/vsa-caregiver-frontend
src/site/components @department-of-veterans-affairs/vsa-public-websites-frontend @department-of-veterans-affairs/vsa-facilities-frontend @department-of-veterans-affairs/vsa-caregiver-frontend
src/site/layouts @department-of-veterans-affairs/vsa-public-websites-frontend @department-of-veterans-affairs/vsa-facilities-frontend
src/site/teasers @department-of-veterans-affairs/vsa-public-websites-frontend @department-of-veterans-affairs/vsa-facilities-frontend
src/site/filters @department-of-veterans-affairs/vsa-public-websites-frontend @department-of-veterans-affairs/vsa-facilities-frontend

# Facility Locator and VAMC pages
src/site/facilities @department-of-veterans-affairs/vsa-facilities-frontend
src/site/layouts/health*.drupal.liquid @department-of-veterans-affairs/vsa-facilities-frontend
src/site/navigation/facility_no_drupal_page_sidebar_nav.drupal.liquid @department-of-veterans-affairs/vsa-facilities-frontend
src/site/navigation/facility_sidebar_nav.drupal.liquid @department-of-veterans-affairs/vsa-facilities-frontend
src/site/paragraphs/facilities @department-of-veterans-affairs/vsa-facilities-frontend

# GraphQL Queries
src/site/stages/build/drupal @department-of-veterans-affairs/vsa-public-websites-frontend @department-of-veterans-affairs/vsa-facilities-frontend
