Repository department-of-veterans-affairs/content-build, changes with the owners that .github/CODEOWNERS names for each.
All owners: @department-of-veterans-affairs/frontend-review-group, @department-of-veterans-affairs/vsp-testing, @department-of-veterans-affairs/vsa-public-websites-frontend, @department-of-veterans-affairs/vsa-facilities-frontend, @department-of-veterans-affairs/vsa-caregiver-frontend

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
#  @department-of-veterans-affairs/frontend-review-group will be requested for
# review when someone opens a pull request.
#
# Review the CODEOWNERS guide before editing:
# https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/engineering/codeowners.md

# VSP
*       @department-of-veterans-affairs/frontend-review-group

# Testing
src/platform/testing/e2e/ @department-of-veterans-affairs/vsp-testing
config/cypress.json @department-of-veterans-affairs/vsp-testing

# Shared templates
src/site/includes @department-of-veterans-affairs/vsa-public-websites-frontend @department-of-veterans-affairs/vsa-facilities-frontend @department-of-veterans-affairs/vsa-caregiver-frontend
src/site/components @department-of-veterans-affairs/vsa-public-websites-frontend @department-of-veterans-affairs/vsa-facilities-frontend @department-of-veterans-affairs/vsa-caregiver-frontend
src/site/layouts @department-of-veterans-affairs/vsa-public-websites-frontend @department-of-veterans-affairs/vsa-facilities-frontend
src/site/teasers @department-of-veterans-affairs/vsa-public-websites-frontend @department-of-veterans-affairs/vsa-facilities-frontend
src/site/filters @department-of-veterans-affairs/vsa-public-websites-frontend @department-of-veterans-affairs/vsa-facilities-frontend

# Facility Locator and VAMC pages
src/site/facilities @department-of-veterans-affairs/vsa-facilities-frontend
src/site/layouts/health*.drupal.liquid @department-of-veterans-affairs/vsa-facilities-frontend
src/site/navigation/facility_no_drupal_page_sidebar_nav.drupal.liquid @department-of-veterans-affairs/vsa-facilities-frontend
src/site/navigation/facility_sidebar_nav.drupal.liquid @department-of-veterans-affairs/vsa-facilities-frontend
src/site/paragraphs/facilities @department-of-veterans-affairs/vsa-facilities-frontend

# GraphQL Queries
src/site/stages/build/drupal @department-of-veterans-affairs/vsa-public-websites-frontend @department-of-veterans-affairs/vsa-facilities-frontend

WIP
  .github/workflows/a11y.yml
Owners: @department-of-veterans-affairs/frontend-review-group

WIP
  .github/workflows/a11y.yml
Owners: @department-of-veterans-affairs/frontend-review-group

WIP
  .github/workflows/a11y.yml
Owners: @department-of-veterans-affairs/frontend-review-group

Clean up
  .github/workflows/a11y.yml
Owners: @department-of-veterans-affairs/frontend-review-group

Clean up
  .github/workflows/a11y.yml
Owners: @department-of-veterans-affairs/frontend-review-group

Clean up
  .github/workflows/a11y.yml
Owners: @department-of-veterans-affairs/frontend-review-group

Fix Slack notifications in GitHub Actions accessibility scan (#727)
  .github/workflows/a11y.yml
Owners: @department-of-veterans-affairs/frontend-review-group

Use correct project name in Packagist composer.json (#677)
  composer.json
Owners: @department-of-veterans-affairs/frontend-review-group

limit number of link teasers
  src/site/filters/liquid.js
  src/site/paragraphs/facilities/list_of_link_teasers_facility.drupal.liquid
Owners: @department-of-veterans-affairs/vsa-public-websites-frontend, @department-of-veterans-affairs/vsa-facilities-frontend

added test
  src/site/layouts/tests/vamc/fixtures/health_care_region_page.json
  src/site/layouts/tests/vamc/template/health_care_region_page.unit.spec.js
  src/site/paragraphs/facilities/list_of_link_teasers_facility.drupal.liquid
Owners: @department-of-veterans-affairs/vsa-public-websites-frontend, @department-of-veterans-affairs/vsa-facilities-frontend

Address feedback from CMS team
  .github/workflows/content-release.yml
Owners: @department-of-veterans-affairs/frontend-review-group

Add slack notification to daily deploy
  .github/workflows/daily-deploy-production.yml
Owners: @department-of-veterans-affairs/frontend-review-group

Add conditional statement for notify-failure on prod only
  .github/workflows/content-release.yml
Owners: @department-of-veterans-affairs/frontend-review-group

Force flow to complete if archive is being uploaded/deployed
  .github/workflows/content-release.yml
Owners: @department-of-veterans-affairs/frontend-review-group

Test new flow
  .github/workflows/content-release.yml
Owners: @department-of-veterans-affairs/frontend-review-group

Fix syntax error
  .github/workflows/content-release.yml
Owners: @department-of-veterans-affairs/frontend-review-group

Force new content-release for testing
  .github/workflows/content-release.yml
Owners: @department-of-veterans-affairs/frontend-review-group

Force cancel second flow
  .github/workflows/content-release.yml
Owners: @department-of-veterans-affairs/frontend-review-group

Revert testing flow
  .github/workflows/content-release.yml
Owners: @department-of-veterans-affairs/frontend-review-group

Remove Chrome installation step from GitHub Actions accessibility workflow
  .github/workflows/a11y.yml
Owners: @department-of-veterans-affairs/frontend-review-group

added test for sliceArray
  src/site/components/browse-by-audience.drupal.liquid
  src/site/filters/liquid.js
  src/site/filters/liquid.unit.spec.js
  src/site/layouts/media_list_images.drupal.liquid
Owners: @department-of-veterans-affairs/vsa-public-websites-frontend, @department-of-veterans-affairs/vsa-facilities-frontend, @department-of-veterans-affairs/vsa-caregiver-frontend

remove console.log
  src/site/filters/liquid.js
Owners: @department-of-veterans-affairs/vsa-public-websites-frontend, @department-of-veterans-affairs/vsa-facilities-frontend

Remove Chrome installation step from GitHub Actions accessibility workflow (#729)
  .github/workflows/a11y.yml
Owners: @department-of-veterans-affairs/frontend-review-group

Remove dev and staging from flow
  .github/workflows/content-release.yml
Owners: @department-of-veterans-affairs/frontend-review-group

Slack noise verbose
  .github/workflows/content-release.yml
  .github/workflows/daily-deploy-production.yml
  script/github-actions/check-broken-links.js
Owners: @department-of-veterans-affairs/frontend-review-group

Nit
  .github/workflows/content-release.yml
Owners: @department-of-veterans-affairs/frontend-review-group

Fix aws role for prod
  .github/workflows/content-release.yml
  .github/workflows/daily-deploy-production.yml
Owners: @department-of-veterans-affairs/frontend-review-group

Adjust daily accessibility scan schedule for daylight saving time
  .github/workflows/a11y.yml
Owners: @department-of-veterans-affairs/frontend-review-group
