Repository department-of-veterans-affairs/content-build, changes with the owners that .github/CODEOWNERS names for each.
All owners: @department-of-veterans-affairs/frontend-review-group, @department-of-veterans-affairs/vsp-testing, @department-of-veterans-affairs/vsa-public-websites-frontend, @department-of-veterans-affairs/vsa-facilities-frontend, @department-of-veterans-affairs/vsa-caregiver-frontend

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
#  @department-of-veterans-affairs/frontend-review-group will be requested for
# review when someone opens a pull request.
#
# Review the CODEOWNERS guide before editing:
# https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/engineering/codeowners.md

# VSP
*       @department-of-veterans-affairs/frontend-review-group

# Testing
src/platform/testing/e2e/ @department-of-veterans-affairs/vsp-testing
config/cypress.json @department-of-veterans-affairs/vsp-testing

# Shared templates
src/site/includes @department-of-veterans-affairs/vsa-public-websites-frontend @department-of-veterans-affairs/vsa-facilities-frontend @department-of-veterans-affairs/vsa-caregiver-frontend
src/site/components @department-of-veterans-affairs/vsa-public-websites-frontend @department-of-veterans-affairs/vsa-facilities-frontend @department-of-veterans-affairs/vsa-caregiver-frontend
src/site/layouts @department-of-veterans-affairs/vsa-public-websites-frontend @department-of-veterans-affairs/vsa-facilities-frontend
src/site/teasers @department-of-veterans-affairs/vsa-public-websites-frontend @department-of-veterans-affairs/vsa-facilities-frontend
src/site/filters @department-of-veterans-affairs/vsa-public-websites-frontend @department-of-veterans-affairs/vsa-facilities-frontend

# Facility Locator and VAMC pages
src/site/facilities @department-of-veterans-affairs/vsa-facilities-frontend
src/site/layouts/health*.drupal.liquid @department-of-veterans-affairs/vsa-facilities-frontend
src/site/navigation/facility_no_drupal_page_sidebar_nav.drupal.liquid @department-of-veterans-affairs/vsa-facilities-frontend
src/site/navigation/facility_sidebar_nav.drupal.liquid @department-of-veterans-affairs/vsa-facilities-frontend
src/site/paragraphs/facilities @department-of-veterans-affairs/vsa-facilities-frontend

# GraphQL Queries
src/site/stages/build/drupal @department-of-veterans-affairs/vsa-public-websites-frontend @department-of-veterans-affairs/vsa-facilities-frontend

revert content-release to be disabled
  .github/workflows/content-release.yml
Owners: @department-of-veterans-affairs/frontend-review-group

Github Actions (DD & CR) -- Change all ENV to point to dev (#674)
  .github/workflows/daily-deploy-production.yml
Owners: @department-of-veterans-affairs/frontend-review-group

Hardened VAMC Register for Care page (phase 1) (#646)
  src/site/filters/liquid.js
  src/site/filters/liquid.unit.spec.js
  src/site/layouts/vamc_system_register_for_care.drupal.liquid
  src/site/stages/build/drupal/graphql/GetLatestPageById.graphql.js
  src/site/stages/build/drupal/graphql/navigation-fragments/facilitySidebar.nav.graphql.js
  src/site/stages/build/drupal/graphql/vamcRegisterForCarePage.graphql.js
  src/site/stages/build/drupal/individual-queries.js
  src/site/stages/build/drupal/metalsmith-drupal.js
  src/site/stages/build/drupal/page.js
Owners: @department-of-veterans-affairs/vsa-public-websites-frontend, @department-of-veterans-affairs/vsa-facilities-frontend

mergeset up medical records graphql
  src/site/stages/build/drupal/graphql/vamcMedicalRecordsPage.graphql.js
  src/site/stages/build/drupal/individual-queries.js
Owners: @department-of-veterans-affairs/vsa-public-websites-frontend, @department-of-veterans-affairs/vsa-facilities-frontend

merge changes to query and added template
  src/site/filters/liquid.js
  src/site/layouts/vamc_system_medical_records_offi.drupal.liquid
  src/site/stages/build/drupal/graphql/GetLatestPageById.graphql.js
  src/site/stages/build/drupal/graphql/vamcMedicalRecordsOfficePage.graphql.js
  src/site/stages/build/drupal/graphql/vamcMedicalRecordsPage.graphql.js
  src/site/stages/build/drupal/individual-queries.js
  src/site/stages/build/drupal/metalsmith-drupal.js
Owners: @department-of-veterans-affairs/vsa-public-websites-frontend, @department-of-veterans-affairs/vsa-facilities-frontend

added unit test
  src/site/filters/liquid.js
  src/site/filters/liquid.unit.spec.js
  src/site/paragraphs/react_widget.drupal.liquid
Owners: @department-of-veterans-affairs/vsa-public-websites-frontend, @department-of-veterans-affairs/vsa-facilities-frontend, @department-of-veterans-affairs/frontend-review-group

small change
  src/site/filters/liquid.js
Owners: @department-of-veterans-affairs/vsa-public-websites-frontend, @department-of-veterans-affairs/vsa-facilities-frontend

Parameterize the content release build
  .github/workflows/content-release.yml
Owners: @department-of-veterans-affairs/frontend-review-group

added related links sections in template
  src/site/layouts/vamc_system_medical_records_offi.drupal.liquid
Owners: @department-of-veterans-affairs/vsa-public-websites-frontend, @department-of-veterans-affairs/vsa-facilities-frontend

added sidebar nav
  src/site/stages/build/drupal/page.js
Owners: @department-of-veterans-affairs/vsa-public-websites-frontend, @department-of-veterans-affairs/vsa-facilities-frontend

removed console log
  src/site/paragraphs/react_widget.drupal.liquid
Owners: @department-of-veterans-affairs/frontend-review-group

Revert "Hardened VAMC Register for Care page (phase 1) (#646)"
  src/site/filters/liquid.js
  src/site/filters/liquid.unit.spec.js
  src/site/layouts/vamc_system_register_for_care.drupal.liquid
  src/site/stages/build/drupal/graphql/GetLatestPageById.graphql.js
  src/site/stages/build/drupal/graphql/navigation-fragments/facilitySidebar.nav.graphql.js
  src/site/stages/build/drupal/graphql/vamcRegisterForCarePage.graphql.js
  src/site/stages/build/drupal/individual-queries.js
  src/site/stages/build/drupal/metalsmith-drupal.js
  src/site/stages/build/drupal/page.js
Owners: @department-of-veterans-affairs/vsa-public-websites-frontend, @department-of-veterans-affairs/vsa-facilities-frontend

Update robots.txt (#672)
  src/site/assets/robots.txt
Owners: @department-of-veterans-affairs/frontend-review-group

Revert "Hardened VAMC Register for Care page (phase 1) (#646)" (#676)
  src/site/filters/liquid.js
  src/site/filters/liquid.unit.spec.js
  src/site/layouts/vamc_system_register_for_care.drupal.liquid
  src/site/stages/build/drupal/graphql/GetLatestPageById.graphql.js
  src/site/stages/build/drupal/graphql/navigation-fragments/facilitySidebar.nav.graphql.js
  src/site/stages/build/drupal/graphql/vamcRegisterForCarePage.graphql.js
  src/site/stages/build/drupal/individual-queries.js
  src/site/stages/build/drupal/metalsmith-drupal.js
  src/site/stages/build/drupal/page.js
Owners: @department-of-veterans-affairs/vsa-public-websites-frontend, @department-of-veterans-affairs/vsa-facilities-frontend

Use correct project name in Packagist composer.json
  composer.json
Owners: @department-of-veterans-affairs/frontend-review-group

Remove quotes
  .github/workflows/content-release.yml
Owners: @department-of-veterans-affairs/frontend-review-group

Split scheduled content releases into a separate workflow and use environment variables for the deploy step
  .github/workflows/content-release.yml
  .github/workflows/scheduled-content-release.yml
Owners: @department-of-veterans-affairs/frontend-review-group

Revert "Revert "Hardened VAMC Register for Care page (phase 1)"
  src/site/filters/liquid.js
  src/site/filters/liquid.unit.spec.js
  src/site/layouts/vamc_system_register_for_care.drupal.liquid
  src/site/stages/build/drupal/graphql/GetLatestPageById.graphql.js
  src/site/stages/build/drupal/graphql/navigation-fragments/facilitySidebar.nav.graphql.js
  src/site/stages/build/drupal/graphql/vamcRegisterForCarePage.graphql.js
  src/site/stages/build/drupal/individual-queries.js
  src/site/stages/build/drupal/metalsmith-drupal.js
  src/site/stages/build/drupal/page.js
Owners: @department-of-veterans-affairs/vsa-public-websites-frontend, @department-of-veterans-affairs/vsa-facilities-frontend

Revert "Revert "Hardened VAMC Register for Care page (phase 1) (#646)" (#676)"
  src/site/filters/liquid.js
  src/site/filters/liquid.unit.spec.js
  src/site/layouts/vamc_system_register_for_care.drupal.liquid
  src/site/stages/build/drupal/graphql/GetLatestPageById.graphql.js
  src/site/stages/build/drupal/graphql/navigation-fragments/facilitySidebar.nav.graphql.js
  src/site/stages/build/drupal/graphql/vamcRegisterForCarePage.graphql.js
  src/site/stages/build/drupal/individual-queries.js
  src/site/stages/build/drupal/metalsmith-drupal.js
  src/site/stages/build/drupal/page.js
Owners: @department-of-veterans-affairs/vsa-public-websites-frontend, @department-of-veterans-affairs/vsa-facilities-frontend

Update workflows after call
  .github/workflows/content-release.yml
  .github/workflows/scheduled-content-release.yml
Owners: @department-of-veterans-affairs/frontend-review-group

Change arrow to anonymous func
  src/site/includes/header.html
Owners: @department-of-veterans-affairs/vsa-public-websites-frontend, @department-of-veterans-affairs/vsa-facilities-frontend, @department-of-veterans-affairs/vsa-caregiver-frontend

Change arrow to anonymous func
  src/site/includes/header.html
Owners: @department-of-veterans-affairs/vsa-public-websites-frontend, @department-of-veterans-affairs/vsa-facilities-frontend, @department-of-veterans-affairs/vsa-caregiver-frontend

VACMS-6637: Remove associated feature flags and json outputter.
  src/site/includes/vet_centers/nearby.liquid
  src/site/layouts/tests/vet_center/e2e/fixtures/data.js
Owners: @department-of-veterans-affairs/vsa-public-websites-frontend, @department-of-veterans-affairs/vsa-facilities-frontend, @department-of-veterans-affairs/vsa-caregiver-frontend

VACMS-6637: Remove nearby vet centers field in prep for removal from cms.
  src/site/layouts/tests/vet_center/e2e/locations.cypress.spec.js
  src/site/layouts/tests/vet_center/template/fixtures/vet_center_locations_data.json
  src/site/layouts/vet_center_locations_list.drupal.liquid
  src/site/stages/build/drupal/graphql/vetCenterLocations.graphql.js
Owners: @department-of-veterans-affairs/vsa-public-websites-frontend, @department-of-veterans-affairs/vsa-facilities-frontend

Fix locations.cypress.spec.js
  src/site/layouts/tests/vamc/e2e/location_home.cypress.spec.js
  src/site/layouts/tests/vet_center/e2e/fixtures/data.js
  src/site/layouts/tests/vet_center/e2e/locations.cypress.spec.js
Owners: @department-of-veterans-affairs/vsa-public-websites-frontend, @department-of-veterans-affairs/vsa-facilities-frontend

VACMS-6637: Remove nearby vet centers field in prep for removal from cms (#667)
  src/site/includes/vet_centers/nearby.liquid
  src/site/layouts/tests/vamc/e2e/location_home.cypress.spec.js
  src/site/layouts/tests/vet_center/e2e/fixtures/data.js
  src/site/layouts/tests/vet_center/e2e/locations.cypress.spec.js
  src/site/layouts/tests/vet_center/template/fixtures/vet_center_locations_data.json
  src/site/layouts/vet_center_locations_list.drupal.liquid
  src/site/stages/build/drupal/graphql/vetCenterLocations.graphql.js
Owners: @department-of-veterans-affairs/vsa-public-websites-frontend, @department-of-veterans-affairs/vsa-facilities-frontend, @department-of-veterans-affairs/vsa-caregiver-frontend

Revert "Revert "Hardened VAMC Register for Care page (phase 1)" (#678)
  src/site/filters/liquid.js
  src/site/filters/liquid.unit.spec.js
  src/site/layouts/vamc_system_register_for_care.drupal.liquid
  src/site/stages/build/drupal/graphql/GetLatestPageById.graphql.js
  src/site/stages/build/drupal/graphql/navigation-fragments/facilitySidebar.nav.graphql.js
  src/site/stages/build/drupal/graphql/vamcRegisterForCarePage.graphql.js
  src/site/stages/build/drupal/individual-queries.js
  src/site/stages/build/drupal/metalsmith-drupal.js
  src/site/stages/build/drupal/page.js
Owners: @department-of-veterans-affairs/vsa-public-websites-frontend, @department-of-veterans-affairs/vsa-facilities-frontend

VAMC Medical Records Office hardened content (#673)
  src/site/filters/liquid.js
  src/site/filters/liquid.unit.spec.js
  src/site/layouts/vamc_system_medical_records_offi.drupal.liquid
  src/site/stages/build/drupal/graphql/GetLatestPageById.graphql.js
  src/site/stages/build/drupal/graphql/vamcMedicalRecordsOfficePage.graphql.js
  src/site/stages/build/drupal/individual-queries.js
  src/site/stages/build/drupal/metalsmith-drupal.js
  src/site/stages/build/drupal/page.js
Owners: @department-of-veterans-affairs/vsa-public-websites-frontend, @department-of-veterans-affairs/vsa-facilities-frontend

Jenkins handle vagovprod
  Jenkinsfile
  jenkins/common.groovy
Owners: @department-of-veterans-affairs/frontend-review-group

remove vagovprod from gha
  .github/workflows/continuous-integration.yml
Owners: @department-of-veterans-affairs/frontend-review-group

Github Actions & Jenkins -- Jenkins handle vagovprod (#681)
  .github/workflows/continuous-integration.yml
  Jenkinsfile
  jenkins/common.groovy
Owners: @department-of-veterans-affairs/frontend-review-group

Hardened Billing and Insurance page
  src/site/layouts/vamc_system_billing_and_insurance.drupal.liquid
  src/site/stages/build/drupal/graphql/GetLatestPageById.graphql.js
  src/site/stages/build/drupal/graphql/vamcBillingAndInsurancePage.graphql.js
  src/site/stages/build/drupal/individual-queries.js
  src/site/stages/build/drupal/metalsmith-drupal.js
Owners: @department-of-veterans-affairs/vsa-public-websites-frontend, @department-of-veterans-affairs/vsa-facilities-frontend

add vagovprod to gha
  .github/workflows/continuous-integration.yml
Owners: @department-of-veterans-affairs/frontend-review-group

disable archive vagovprod in jenkins
  Jenkinsfile
Owners: @department-of-veterans-affairs/frontend-review-group

Add deploy skipping via latest run number for CI
  .github/workflows/continuous-integration.yml
  script/github-actions/get-lastest-run-number.js
Owners: @department-of-veterans-affairs/frontend-review-group

More changes from code review
  .github/workflows/content-release.yml
Owners: @department-of-veterans-affairs/frontend-review-group

Set release wait for both scheduled and manual dispatch
  .github/workflows/content-release.yml
Owners: @department-of-veterans-affairs/frontend-review-group

Add push event to test release to dev
  .github/workflows/content-release.yml
Owners: @department-of-veterans-affairs/frontend-review-group

pre-commit fixups
  .github/workflows/content-release.yml
Owners: @department-of-veterans-affairs/frontend-review-group

Parameterize the content release build with environment name (#675)
  .github/workflows/content-release.yml
Owners: @department-of-veterans-affairs/frontend-review-group
