Repository department-of-veterans-affairs/content-build, changes with the owners that .github/CODEOWNERS names for each.
All owners: @department-of-veterans-affairs/platform-release-tools, @department-of-veterans-affairs/cms-infrastructure, @department-of-veterans-affairs/qa-standards, @department-of-veterans-affairs/vsa-public-websites-frontend, @department-of-veterans-affairs/vsa-facilities-frontend, @department-of-veterans-affairs/1010-health-apps-frontend

Test debug logging as a verbose flag.
  .github/workflows/content-release-testing.yml
Owners: @department-of-veterans-affairs/platform-release-tools

Test debug logging as a verbose flag.
  .github/workflows/content-release-testing.yml
Owners: @department-of-veterans-affairs/platform-release-tools

Fix run key.
  .github/workflows/content-release-testing.yml
Owners: @department-of-veterans-affairs/platform-release-tools

new id for search header (#1390)
  src/site/includes/common-tasks.drupal.liquid
Owners: @department-of-veterans-affairs/vsa-public-websites-frontend, @department-of-veterans-affairs/vsa-facilities-frontend, @department-of-veterans-affairs/1010-health-apps-frontend

Switch Drupal address back to prod.
  .github/workflows/content-release-testing.yml
Owners: @department-of-veterans-affairs/platform-release-tools

Point test back at prod.
  .github/workflows/content-release-testing.yml
Owners: @department-of-veterans-affairs/platform-release-tools

Adds alert to old form detail pages (#1387)
  src/site/layouts/va_form.drupal.liquid
Owners: @department-of-veterans-affairs/vsa-public-websites-frontend, @department-of-veterans-affairs/vsa-facilities-frontend

Use staging CMS.
  .github/workflows/content-release-testing.yml
Owners: @department-of-veterans-affairs/platform-release-tools

Use staging CMS.
  .github/workflows/content-release-testing.yml
Owners: @department-of-veterans-affairs/platform-release-tools

Add verbose logging switch to content release.
  .github/workflows/content-release-testing.yml
  .github/workflows/content-release.yml
Owners: @department-of-veterans-affairs/platform-release-tools, @department-of-veterans-affairs/cms-infrastructure

Remove extraneous files from PR.
  src/site/includes/common-tasks.drupal.liquid
  src/site/layouts/va_form.drupal.liquid
Owners: @department-of-veterans-affairs/vsa-public-websites-frontend, @department-of-veterans-affairs/vsa-facilities-frontend, @department-of-veterans-affairs/1010-health-apps-frontend

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
#  @department-of-veterans-affairs/platform-release-tools will be requested for
# review when someone opens a pull request.
#
# Review the CODEOWNERS guide before editing:
# https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/engineering/codeowners.md

# VSP
*       @department-of-veterans-affairs/platform-release-tools

# Content release
.github/workflows/content-release.yml @department-of-veterans-affairs/cms-infrastructure @department-of-veterans-affairs/platform-release-tools
.github/workflows/request-content-release.yml @department-of-veterans-affairs/cms-infrastructure @department-of-veterans-affairs/platform-release-tools
.github/workflows/deploy-content-preview-server.yml @department-of-veterans-affairs/cms-infrastructure
.github/workflows/wait-for-cms-ready @department-of-veterans-affairs/cms-infrastructure @department-of-veterans-affairs/platform-release-tools
.github/workflows/record-release-interval @department-of-veterans-affairs/cms-infrastructure @department-of-veterans-affairs/platform-release-tools
script @department-of-veterans-affairs/cms-infrastructure @department-of-veterans-affairs/platform-release-tools

# VSP QA Standards
src/platform/testing/e2e/ @department-of-veterans-affairs/qa-standards
config/cypress.json @department-of-veterans-affairs/qa-standards
.github/workflows/a11y.yml @department-of-veterans-affairs/qa-standards

# Shared templates
src/site/includes @department-of-veterans-affairs/vsa-public-websites-frontend @department-of-veterans-affairs/vsa-facilities-frontend @department-of-veterans-affairs/1010-health-apps-frontend
src/site/components @department-of-veterans-affairs/vsa-public-websites-frontend @department-of-veterans-affairs/vsa-facilities-frontend @department-of-veterans-affairs/1010-health-apps-frontend
src/site/layouts @department-of-veterans-affairs/vsa-public-websites-frontend @department-of-veterans-affairs/vsa-facilities-frontend
src/site/teasers @department-of-veterans-affairs/vsa-public-websites-frontend @department-of-veterans-affairs/vsa-facilities-frontend
src/site/filters @department-of-veterans-affairs/vsa-public-websites-frontend @department-of-veterans-affairs/vsa-facilities-frontend

# Facility Locator and VAMC pages
src/site/facilities @department-of-veterans-affairs/vsa-facilities-frontend
src/site/layouts/health*.drupal.liquid @department-of-veterans-affairs/vsa-facilities-frontend
src/site/navigation/facility_no_drupal_page_sidebar_nav.drupal.liquid @department-of-veterans-affairs/vsa-facilities-frontend
src/site/navigation/facility_sidebar_nav.drupal.liquid @department-of-veterans-affairs/vsa-facilities-frontend
src/site/paragraphs/facilities @department-of-veterans-affairs/vsa-facilities-frontend

# GraphQL Queries
src/site/stages/build/drupal @department-of-veterans-affairs/vsa-public-websites-frontend @department-of-veterans-affairs/vsa-facilities-frontend @department-of-veterans-affairs/cms-infrastructure

# Site Assets
src/site/assets/robots.txt @department-of-veterans-affairs/vsa-public-websites-frontend
